Icon
Thumbs.db
.*
public/tmp/
private/
output_static/
output_static/*
output_static/*/*
output_static/*/*/*
output_static/*/*/*/*
dist/
dist/*
dist/*/*
dist/*/*/*
dist/*/*/*/*
bin
lib
include
__pycache__/
*.py[cod]
*.so
env/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.mo
*.pot
.idea/*
*.iml
.DS_Store
*.torrent
node_modules/
node_modules/*
node_modules/*/*
node_modules/*/*/*
node_modules/*/*/*/*
.well-known/*
downloads/windows/*
downloads/linux/*
downloads/mac/*
