.achievements {
  background:#9dada4;
  width: 400px;
  position: absolute;
  top: 30px;
  right: -500px;
  padding: 0 20px;
  border-radius: 5px;
  transition: right 1s;
  z-index: 1;
}
.achievements:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: #aaa;
  background: url(/img/bkg/steel.jpg);
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.3;
  border-radius: 5px;
  z-index: -1;
}

.achievements.slide {
  right: -10px;
}

.achievements h1 {
  margin: 10px 0 0;
}

.achievements p {
  margin: 10px 0;
}
