.campaign-map {
  position: relative;
  width: 600px;
  height: 550px;
  background-color: #030301;
  background-image: url("../img/bkg/campaign.jpg");
  background-size: cover;
  top: 310px;
  left: 320px;
  transform: translate(-50%, -50%);
  border-radius: 6px;
}
.left-side .campaign-map {
  left: 635px;
}

.campaign-box.box {
  right: 30px;
  transform: none;
  padding: 8px;
  width: 300px;
  left: auto;
  top: 36px;
  height: 400px;
}

.campaign-box h2 {
  margin: 8px;
  font-size: 22px;
}

.left-side .campaign-box.box {
  left: 22px;
  right: auto;
}

.campaign-img {
  height: 132px;
  background-size: cover;
  border-radius: 4px;
  margin-bottom: 14px;
  background-position: 50% 50%;
}

.campaign-img.tower {
  background-image: url("../img/towers/tower-player.jpg");
}
.campaign-img.tree {
  background-image: url("../img/trees/tree_rad.jpg");
}
.campaign-img.cent {
  background-image: url("../img/units/cent.jpg");
}
.campaign-img.catap {
  background-image: url("../img/creeps/player_catapult.jpg");
}


.state .campaign-box p {
  margin: 2px 0;
  font-size: 14px;
  font-weight: normal;
}

.campaign-box p.achieve {
  text-align: left;
  font-size: 13px;
  margin: 1px;
  line-height: 24px;
}
.campaign-box p.achieve:before {
  content: "•";
  margin: 0 10px;
}
.campaign-heroes {
  text-align: center;
  margin-top: 20px;
}
.campaign-box .campaign-heroes .heroes {
  width: 45px;
  height: 45px;
  display: inline-block;
  border-radius: 50%;
  margin: 0px 1px;
}

.campaign-box .campaign-heroes .heroes .img {
  margin: 5%;
  width: 90%;
  height: 90%;
  border-radius: 50%;
  background-size: cover;
  background-position-x: 50%;
}

.stages {
  position: absolute;
  width: 80px;
  height: 80px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 50%;
  border: 1px solid rgba(255,255,255,0);
  opacity: 0.9;
}

.stages:hover {
  background-color: rgba(255,255,225,0.3);
  box-shadow: 0 0 15px 0 rgba(255,255,225,0.7);
}

.stages.blink {
  animation: stagesblink 1s infinite;
  background-color: rgba(255,255,225,0.3);
}
.stages.blink:after {
  display: none;
}
.states .stages.done {
  opacity: 0.4;
  background-color: rgba(255,255,225,0.3);
}
.stages.done:after {
  content: "X";
  font-size: 80px;
  position: relative;
  top: 24px;
  left: 18px;
  opacity: 0.5;
  font-family: monospace;
}
.stages.done.start:after {
  top: 40px;
  left: 30px;
}
.stages.done.optional:after {
  font-size: 60px;
  top: 16px;
  left: 13px;
}
.stages.done.shop:after,
.stages.done.rune:after {
  font-size: 50px;
  top: 16px;
  left: 18px;
}
.stages.done.enabled {
  opacity: 1;
}
.stages.done.enabled:after {
  opacity: 0.3;
  color: tomato;
}

@keyframes stagesblink {
  0%, 100% {
    box-shadow: 0 0 0 1px rgba(0,0,0,0);
  }

  50% {
    box-shadow: 0 0 0 4px white;
  }
}

.stages.enabled {
  cursor: pointer;
  background-color: rgba(255,255,225,0.3);
}

.stages.enabled.blink {
  border: 1px solid white;
  opacity: 1;
}
.stages.enabled.blink:hover {
  box-shadow: 0 0 0 4px white;
}
.stages.enabled:hover {
  box-shadow: 0 0 0 2px white;
  animation: none;
}

.stages.start {
  bottom: 20px;
  left: 20px;
  background-image: url(../img/campaign/ico_rad.png);
  width: 110px;
  height: 110px;
  background-size: 90%;
}

.stages.easy {
  background-image: url(../img/campaign/ico_easy.png);
}

.stages.easy.top {
  top: 180px;
  left: 30px;
}

.stages.easy.mid {
  top: 330px;
  left: 140px;
}

.stages.easy.bot {
  bottom: 30px;
  left: 300px;
}

.stages.rune {
  background-image: url(../img/campaign/ico_rune.png);
  top: 320px;
  left: 370px;
  width: 60px;
  height: 60px;
  opacity: 0.7;
}

.stages.roshan {
  background-image: url(../img/campaign/ico_rosh.png);
  top: 140px;
  left: 160px;
  opacity: 0.7;
}

.stages.shop {
  background-image: url(../img/campaign/ico_shop.png);
  top: 250px;
  left: 120px;
  width: 60px;
  height: 60px;
}

.stages.normal.mid {
  background-image: url(../img/campaign/ico_medium.png);
  top: 200px;
  left: 300px;
}

.stages.hard {
  background-image: url(../img/campaign/ico_hard.png);
}

.stages.hard.top {
  top: 10px;
  left: 400px;
}

.stages.hard.mid {
  top: 95px;
  left: 427px;
}

.stages.hard.bot {
  bottom: 335px;
  left: 508px;
}

.stages.final {
  background-image: url(../img/campaign/ico_dire.png);
  top: 20px;
  left: 500px;
}

.stages.optional {
  background-image: url(../img/campaign/ico_opt.png);
  width: 60px;
  height: 60px;
}

.stages.optional.top {
  top: 30px;
  left: 45px;
}
.stages.optional.mid {
  top: 360px;
  left: 265px;
}
.stages.optional.bot {
  bottom: 40px;
  left: 500px;
}

.campaign-path {
  background: white;
  width: 8px;
  height: 8px;
  position: absolute;
  border-radius: 50%;
  opacity: 0.3;
}

.campaign-path.enabled {
  opacity: 1.
}

.campaign .buttonbox {
  position: absolute;
  right: 22px;
  bottom: 10px;
  width: 320px;
}

.left-side .campaign .buttonbox {
  right: auto;
  left: 12px;
}