.card > * {
  pointer-events: none;
}

.deck .card {
  float: left;
}

.pickbox .card {
  margin: 0px -62px;
  top: 0;
  left: 50%;
  transform: translate3d(-50%, 0, 0) translateZ(0) scale(0.35);
  /* filter: blur(1.5px); */
  transition: all 0.18s;
}

.pickbox .card.selected {
  margin: 0px 16px;
  transform: translate3d(-50%, 0, 0) scale(1.1);
  filter: blur(0);
}

.pickbox .card.half {
  transform: translate3d(-50%, 0, 0) scale(0.5);
  margin: 0px -50px;
}
.pickedbox .card {
  animation: pickedboxslidedown 0.5s;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0) scale(0.6);
}

.library .pickedbox .card {
  transform: translate3d(-50%, -50%, 0) scale(0.7);
}

@keyframes pickedboxslidedown {
  0% {
    top: 36%;
  }

  100% {
    top: 50%;
  }
}

.pickedbox .card.heroes h1, .pickedbox .card.heroes .current, .pickedbox .card.heroes .desc, .pickedbox .card.heroes .buff {
  opacity: 0;
}
.pickedbox .card.heroes fieldset {
  padding: 0;
  background: transparent;
}
.pickedbox .card.heroes .portrait .img, .pickedbox .card.heroes .portrait .overlay {
  height: 265px;
}

.card {
  position: relative;
  display: inline-block;
  text-align: left;
  transition: all 0.3s;
  padding: 0;
  width: 200px;
  height: 300px;
  border-radius: 8px;
  z-index: 1;
  color: #4d4843;
  cursor: pointer;
  transform: translateZ(0);
  background: #898;
}

.card:hover {
  z-index: 10;
}

.card legend {
  color: white;
  font-size: 14px;
  text-transform: uppercase;
  margin: 3px 0 0 10px;
  line-height: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 10px;
}

.card fieldset {
  border-radius: 4px;
  padding: 3px;
  margin: 0 5px;
  height: 265px;
  background: #f7fae3;
  border: 0;
  position: relative;
}

.card .img {
  display: block;
  border-radius: 3px;
  background-size: cover;
  background-position: 50% 50%;
}

.card .overlay {
  box-shadow: 0 0 12px rgba(0,0,0,0.4) inset;
  border-radius: 3px;
  position: absolute;
  top: 0;
}

.card .portrait {
  position: relative;
}

.card .portrait .img, .card .portrait .overlay {
  height: 112px;
  display: block;
  width: 100%;
}


.card fieldset h1 {
  cursor: inherit;
  margin: 5px 0;
  font-size: 13px;
  font-weight: bold;
  float: left;
  line-height: 12px;
  letter-spacing: -0.4px;
}

.card .current {
  position: absolute;
  right: 2px;
  letter-spacing: -0.4px;
  top: 116px;
}

.card .current p {
  font-size: 12px;
  font-weight: bold;
  display: inline-block;
  line-height: 22px;
  vertical-align: text-bottom;
}

.card .current span {
  text-align: center;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  line-height: 22px;
  display: inherit;
}

.card .current .hp span {
  background: #beeb71;
}

.card .current .damage span, .card .desc .dot span {
  background: #ed8c8c;
  color: white;
  font-weight: normal;
}

.card .desc {
  clear: left;
}

.card .desc .dot {
  position: relative;
}
.card .desc .dot span {
  width: 14px;
  height: 14px;
  line-height: 14px;
  position: relative;
  top: -2px;
  display: inline-block;
  border-radius: 50%;
  box-shadow: 0 0 0 3px #ed8c8c;
  margin: 0 5px;
  text-align: center;
}

.card div p {
  cursor: inherit;
  text-align: justify;
  margin: 0;
  border: 0;
  font-size: 12px;
  line-height: 12px;
  display: block;
  margin-bottom: 1px;
}

.table .card.heroes .description {
  display: none;
}

.card .description {
  font-style: italic;
  font-size: 11px;
  margin-top: 2px;
  margin-right: 2px;
  line-height: 13px;
}

.card.player {
  background: #6eb975;
}
.card.player.towers {
  background: #68d691;
}

.card.enemy.towers {
  background: #c5432c;
}

.card.enemy {
  background: #c55f5f;
}

.card.skills {
  background: #277cd6;
}

.card.left-hand.skills {
  background: #4db2dc;
}

.card.skills[class*="summon"] {
  background: #249c6c;
}

.card.skills[class*="ult"] {
  background: #8449ef;
}

.states .map .card.player.heroes.selected, .states .map .card.player.towers.selected {
  /* animation: none; */
  box-shadow: 0 0 0 10px springgreen;
  z-index: 2;
}

.states .map .card.enemy.heroes.selected, .states .map .card.enemy.towers.selected {
  animation: none;
  box-shadow: 0 0 0 10px orangered;
  z-index: 2;
}

.states .map .card.skills.selected {
  animation: none;
  box-shadow: 0 0 0 6px skyblue;
  z-index: 2;
}

.states .map .card.trees.selected {
  box-shadow: 0 0 0 10px palegreen;
}

.card.enemy.attacktarget {
  box-shadow: 0 0 0 10px red;
}

.card.source {
  box-shadow: 0 0 0 10px skyblue;
}

.card.enemyMoveHighlight {
  box-shadow: 0 0 0 10px orange;
}

.card.enemyMoveHighlightTarget {
  box-shadow: 0 0 0 10px yellow;
}

.card.targetarea, .card.casttarget {
  box-shadow: 0 0 0 10px dodgerblue;
}

.card.player.done .img {
  filter: saturate(0.7);
  -webkit-filter: saturate(0.7);
}

.card .damaged, .card .missed {
  z-index: 20;
  color: gold;
  position: absolute;
  opacity: 0;
  top: 0;
  right: 0;
  font-size: 150px;
  animation: slideup 2s cubic-bezier(0.4, 0, 1, 1);
  transform: translateZ(50px);
  text-shadow:
   5px  0   #ffa,
  -5px  0   #ffa,
   0    5px #ffa,
   0   -5px #ffa,
   5px  5px #ffa,
  -5px  5px #ffa,
   5px -5px #ffa,
  -5px -5px #ffa;
}

.card .damaged.critical, .card .missed {
  color: orangered;
  animation: slideup 5s cubic-bezier(0.4, 0, 1, 1);
}

.card .missed {
  animation: slideup 5s cubic-bezier(0.4, 0, 1, 1);
  font-size: 80px;
  text-shadow: 4px 0 white, -4px 0 white, 0 4px white, 0 -4px white, 4px 4px white, -4px 4px white, 4px -4px white, -4px -4px white;
}

.card .heal {
  z-index: 21;
  color: springgreen;
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  font-size: 150px;
  animation: slideup 5s cubic-bezier(0.4, 0, 1, 1);
  text-shadow: 
  5px  0   #afa,
 -5px  0   #afa, 
   0   5px #afa, 
   0  -5px #afa, 
  5px  5px #afa, 
 -5px  5px #afa, 
  5px -5px #afa, 
 -5px -5px #afa;
}

@keyframes slideup {
  0% {
    top: 40px;
    opacity: 0;
  }

  15% {
    opacity: 1;
  }

  80% {
    opacity: 1;
  }

  100% {
    top: -140px;
    opacity: 0;
  }
}

.card.dead {
  background: silver;
  -webkit-filter: grayscale(0.9);
  filter: grayscale(0.9);
}

.card .buffs {
  position: absolute;
  bottom: 3px;
  left: 3px;
  display: flex;
  height: 34px;
  width: 160px;
}

.card .buffs .buff {
  margin-right: 2px;
  pointer-events: auto;
  transition: all 0.1s;
  width: 35px;
  background: transparent;
  z-index: 2;
  position: relative;
}
.card .buffs .buff span {
  position: absolute;
  color: white;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  text-shadow: 0 0 1px black, 0 0 2px black;
}

.selectedarea .card .buffs .buff:hover {
  transform: scale(2.5);
  z-index: 10;
}

.selectedarea .card .buffs .buff:hover .img {
  border-radius: 3px;
  border: 1px solid white;
}
.selectedarea .card .buffs .buff:hover .overlay {
  opacity: 0;
}
.card .buffs .buff .img , .card .buffs .buff .overlay {
  border-radius: 50%;
  box-shadow: 0 0 8px rgba(0,0,0,0.5) inset;
  width: 32px;
  height: 32px;
  position: absolute;
  border: 1px solid #fff;
}
.map .card .buffs .buff , .fromMap .card .buffs .buff {
  transform: scale(1.4);
}
.table .deck .card {
  top: 50%;
  left: 40px;
  transform: translate3d(-50%, -50%, 0) scale(0.5) rotate(0);
  margin-right: -130px;
}

.table .deck .card:hover {
  transform: translate(-50%, -50%) scale(0.6);
  z-index: 11;
}

.table .deck .card.on, .table .deck .card.channel-on {
  transform: translate(-50%, -50%) scale(0.5) rotate(-5deg);
}
.table .deck .card.on:hover, .table .deck .card.channel-on:hover {
  transform: translate(-50%, -50%) scale(0.6) rotate(-5deg);
}

.table .deck .card.selected {
  transform: translate(-50%, -50%) scale(0.6) rotate(0);
  z-index: 11;
}

.table .enemy .skills .card {
  animation: enemybuyslide 2s;
}

.table .enemy .skills .card.channel-on {
  transform: translate3d(-50%,-47%,0) scale(0.5) rotateY(185deg);
}

.local .table .enemy .skills .card.channel-on,
.library .table .enemy .skills .card.channel-on {
  transform: translate3d(-50%, -50%, 0) scale(0.5) rotateY(0deg) rotateZ(185deg);
}

@keyframes enemybuyslide {
  0% {
    left: -500vw;
    top: 150%;
    transform: translate(-50%, -50%) rotateY(-180deg) scale(0.6);
  }

  30% {
    left: 40px;
    top: 150%;
    transform: translate(-50%, -50%) rotateY(-180deg) scale(0.6);
  }

  100% {
    left: 40px;
    top: 50%;
  }
}

.table .enemy .skills .card.showMoves {
  left: 500vw;
  top: 150%;
  pointer-events: none;
  animation: enemyshowslide 2.1s;
}

@keyframes enemyshowslide {
  0% {
    left: 40px;
    top: 50%;
  }

  70% {
    left: 40px;
    top: 200%;
    transform: translate(-50%, -50%) scale(0.6);
  }

  100% {
    left: 500vw;
    top: 200%;
    transform: translate(-50%, -50%) scale(0.6);
  }
}

.table .enemy .skills .card.discardMove {
  left: -1000px;
  top: 150%;
  pointer-events: none;
  animation: enemydiscardslide 0.6s;
}

@keyframes enemydiscardslide {
  0% {
    left: 40px;
    top: 50%;
  }

  100% {
    left: 40px;
    top: -50%;
    transform: translate(-50%, -50%) scale(0.6) rotateY(-180deg);
  }
}

.local .table .enemy .skills .card.discardMove,
.table .table .enemy .skills .card.discardMove {
  animation: enemyshowdiscardslide 0.6s;
}

@keyframes enemyshowdiscardslide {
  0% {
    left: 40px;
    top: 50%;
  }

  100% {
    left: 40px;
    top: -50%;
    transform: translate(-50%, -50%) scale(0.6) rotateZ(-180deg);
  }
}
.states .table .card.flipped {
  pointer-events: none;
  transform: translate3d(-50%,-50%,0) scale(0.5) rotateY(-180deg);
}
.library .table .enemydecks .card, .local .table.unturn .enemydecks .card {
  pointer-events: all;
  transform: translate3d(-50%,-50%,0) scale(0.5) rotateZ(-180deg);
}
.library .table .enemydecks .card:hover,
.local .table.unturn .enemydecks .card:hover,
.local .table.unturn .enemydecks .card.selected {
  pointer-events: all;
  transform: translate3d(-50%,-50%,0) scale(0.6) rotateZ(-180deg);
}

.skills.card, .units.card {
  transform-style: preserve-3d;
  backface-visibility: hidden;
}

.skills.card:after, .units.card:after {
  content: "";
  display: block;
  background: white;
  width: 200px;
  height: 300px;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate3d(0,0,-1px) rotateY(180deg);
  border-radius: 8px;
  background-image: url(../img/cardback.jpg);
  background-size: cover;
  z-index: 29;
  backface-visibility: hidden;
}

.table .enemy .hand .card {
  margin-right: -158px;
}

.table .enemy .sidehand .card {
  margin-right: -150px;
}

.table .player .skills .card {
  animation: playerbuyslide 1.2s;
}

.local .table .playerdecks .card,
.local .table.unturn .playerdecks .card {
  transform: translate3d(-50%, -50%, 0) scale(0.4) rotateY(180deg);
}
.local .table.turn .playerdecks .card {
  transform: translate3d(-50%, -50%, 0) scale(0.5) rotateY(0);
}

.local .table.turn .playerdecks .card:hover,
.local .table.turn .playerdecks .card.selected {
  transform: translate3d(-50%, -50%, 0) scale(0.6) rotateY(0);
}

.local .table .enemydecks .card {
  transform: translate3d(-50%, -50%, 0) scale(0.4) rotateY(180deg) rotateZ(180deg);
}
.local .table.unturn .enemydecks .card {
  transform: translate3d(-50%, -50%, 0) scale(0.5) rotateY(0) rotateZ(180deg);
}


.table .player .skills .card.slidedown {
  transform: translate3d(-50%, 15%, 0) scale(0.5);
}

.table .player .skills .card.blink {
  animation: playerbuyslide 1.2s, cardblink 1s infinite;
}

@keyframes playerbuyslide {
  0% {
    left: -1000px;
    top: -50%;
    transform: translate(-50%, -50%) scale(0.7) rotateY(179deg) rotate(0);
  }

  30% {
    left: 40px;
    top: -50%;
    transform: translate(-50%, -50%) scale(0.7) rotateY(179deg) rotate(0);
  }

  100% {
    left: 40px;
    top: 50%;
  }
}


.selectedarea .selectedcard {
  width: 240px;
  height: 360px;
  transition: all 0.2s;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transform: rotateY(-180deg);
}

.selectedarea .selectedcard.flip {
  transform: rotateY(0);
}

.selectedarea .selectedcard.flip:hover {
  /* z-index: 11; */
}

.table .selectedarea .card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: 100% 0%;
  transform: translate3d(-50%, -50%, 1px) !important;
  cursor: default;
  transition: all 0s;
  zoom: 1.2;
}

/*.table .selectedarea .selectedcard.flip .card:hover {
   transform: translate(-146px, -80px) scale(1); 
   zoom: 188%; 
}
.table .selectedarea .selectedcard.flip .card:hover .buffs {
  bottom: 2px;
  left: 4px;
}
.table .selectedarea .selectedcard.flip .card:hover .current {
  margin-top: 1px;
}
.table .selectedarea .selectedcard.flip .card:hover .img {
 image-rendering: pixelated;
}*/
.table .selectedarea .cardback {
  background: #111;
  background-image: url(../img/cardback.jpg);
  background-size: cover;
  background-position: 50%;
  position: absolute;
  padding: 0;
  width: 240px;
  height: 360px;
  border-radius: 8px;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, -1px) rotateY(180deg);
}

.table .selectedarea .card .damaged, 
.table .selectedarea .card .heal,  
.table .selectedarea .card .missed {
  display: none;
}

.table .deck.skills.enemy .card {
  z-index: 3;
  margin-right: -100px;
}

.states .table .map .card {
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 2px);
  transform-style: preserve-3d;
}

.map .card.invisible {
  opacity: 0.7;
}
.map .enemyarea .card.player.invisible {
  opacity: 1;
}

.map .card.enemy.invisible,
.local .table.turn .map .card.enemy.invisible,
.local .table .map .card.player.invisible,
.local .table.unturn .map .card.invisible {
  display: none;
}
.map .playerarea .card.enemy.invisible,
.local .map .card.enemy.invisible,
.local .table.turn .map .card.player.invisible {
  display: inline-block;
}

.states .table .map .card:hover, 
.states .table .map .card.selected, 
.states .table .map .card.source {
  transform: translate3d(-50%, -50%, 30px) rotateX(-10deg);
}

.map .card.enemy .current .hp span {
  background: #ed8c8c;
  color: white;
}

.map .card .current .hp span {
  /* padding: 0; */
}
.map .card.towers .current .hp span {
  width: 19px;
  height: 20px;
  line-height: 20px;
}
.map .card.towers.player .current .hp span {
  background: #a9f38b;
  border: 2px solid #e2f5c2;
  transform: translate(-15px, -5px) scale(6);
}
.map .card.towers.enemy .current .hp span {
  background: #e87070;
  border: 2px solid #ed8c8c;
  transform: translate(-15px, -5px) scale(6);
}


.enemy.heroes .portrait .img {
  transform: scaleX(-1);
}

/*DRAG*/
.vs .card .kd, .bkgdeck .card .kd, .choose .card .kd, .card.dragTargetClone.choose .kd, .choose .card .damaged, .choose .card .heal {
  display: none;
}

.card.dragTarget {
  transition: all 0s;
  visibility: hidden;
  pointer-events: none;
}

.card.dragTargetClone {
  transition: transform 0.1s;
  position: absolute;
  z-index: 30;
  transform-origin: 0 0;
  pointer-events: none;
  transform: translateZ(1px);
}

.card.dragTargetClone.choose {
  transform: scale(0.75) translateZ(1px);
}

.card.dragTargetClone.choose.drop {
  box-shadow: 0 0 0 5px white;
}

.card.dragTargetClone.table {
  transform: scale(0.35) translateZ(1px);
}

.card.dragTargetClone.table.drop,
.card.dragTargetClone.table.drop.fromHand,
.card.dragTargetClone.table.drop.fromMap {
  box-shadow: 0 0 0 10px white;
}

.card.dragTargetClone.table.fromHand {
  transform: scale(0.45) translateZ(1px);
}

.local .card.dragTargetClone.enemy.fromHand.table,
.library .card.dragTargetClone.enemy.fromHand.table {
  transform: rotate(180deg) translate3d(-40%, -40%, 1px) scale(0.4);
}
.local .card.dragTargetClone.drop.enemy.fromHand.table,
.library .card.dragTargetClone.drop.enemy.fromHand.table {
  box-shadow: 0 0 0 10px white;
}

.map .card legend, .card.dragTargetClone.fromMap legend {
  display: none;
}

.map .card h1, .map .card .desc,
.card.dragTargetClone.fromMap h1, .card.dragTargetClone.fromMap .desc {
  display: none;
}

.map .card .buffs,
.fromMap.card .buffs {
  position: relative;
  top: -28px;
  left: 0px;
}

.map .card.ghost .buff {
  display: none;
}

.map .card fieldset, .card.dragTargetClone.fromMap fieldset {
  padding: 0;
  margin: 18px 5px;
}

.map .card .portrait .img, .map .card .portrait .overlay, .card.dragTargetClone.fromMap .portrait .img, .card.dragTargetClone.fromMap .portrait .overlay {
  height: 265px;
}

.map .card .current, .card.dragTargetClone.fromMap .current {
  top: 35px;
  right: 30px;
}

.map .card .current .damage, .card.dragTargetClone.fromMap .current .damage {
  display: none;
}

.map .card .current .hp span, .card.dragTargetClone.fromMap .current .hp span {
  transform: translate(2px, -15px) scale(4.5);
  padding-right: 1px;
  width: 21px;
}

/*TOWERS*/
.player.towers .img {
  background-image: url("../img/towers/tower-player.jpg");
}

.enemy.towers .img {
  background-image: url("../img/towers/tower-enemy.jpg");
}

.map .card.enemy.towers .img {
  background-position: 70% 50%
}

.map .card.player.towers .img {
  background-position: 40% 50%
}

/*UNITS*/
.card.trees {
  background: #5ba22f;
}

.card.trees.rad .img {
  background-image: url("../img/trees/tree_rad.jpg");
}

.card.trees.dire .img {
  background-image: url("../img/trees/tree_dire.jpg");
}

.units.melee.player .img {
  background-image: url("../img/creeps/player_melee.jpg");
}
.map .card.units.melee.player .portrait .img {
  background-position: 75% 75%;
  background-size: 360%;
}

.units.melee.enemy .img {
  background-image: url("../img/creeps/enemy_melee.jpg");
}
.map .card.units.melee.enemy .portrait .img {
  background-position: 15% 30%;
  background-size: 400%;
}

.units.ranged.player .img {
  background-image: url("../img/creeps/player_ranged.jpg");
}
.map .card.units.ranged.player .img {
  background-position: 20% 50%;
}

.units.ranged.enemy .img {
  background-image: url("../img/creeps/enemy_ranged.jpg");
}
.map .card.units.ranged.enemy .img {
  background-position: 60% 50%;
}


.card.units.catapult.player .img {
  background-image: url("../img/creeps/player_catapult.jpg");
}
.card.units.catapult.enemy .img {
  background-image: url("../img/creeps/enemy_catapult.jpg");
}
.map .card.units.catapult.enemy .img {
  background-position: 55% 50%;
  background-size: 300%;
}
