@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(../fonts/Open-Sans.woff2) format('woff2'), url(../fonts/Open-Sans.woff) format('woff');
}

body, p, noscript, .card h1 {
  line-height: 28px;
  font-family: "Open Sans", "open sans", "Droid Sans", "Lucida Sans Unicode", "Lucida Grande", 'Segoe UI', Tahoma, Verdana, Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: 'Julius Sans One';
  font-style: normal;
  font-weight: 400;
  src: local('Julius Sans One'), local('JuliusSansOne-Regular'), url(../fonts/Julius-Sans-One.woff2) format('woff2'), url(../fonts/Julius-Sans-One.woff) format('woff');
}

.option-state .game-overlay span, .topbar *, .choose .counter, .vs.state .vsplayerinfo, .vs.state .vsenemyinfo {
  font-family: "Julius Sans One", "Droid Sans", "Lucida Sans Unicode", "Lucida Grande", 'Segoe UI', Tahoma, Verdana, Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: 'Sansita One';
  font-style: normal;
  font-weight: 400;
  src: local('Sansita One'), local('SansitaOne'), url('../fonts/Sansita-One.woff2') format('woff2'), url('../fonts/Sansita-One.woff') format('woff');
}

.card .buffs .buff span, .baloon .battle, .versus, .log b, .rank li {
  font-family: "Sansita One", Impact, sans-serif;;
}

@font-face {
  font-family: 'OssBold';
  font-style: normal;
  font-weight: 400;
  src: local('OssBold'), url('../fonts/OssBold.woff2') format('woff2'), url('../fonts/OssBold.woff') format('woff');
}

h1, h2, input[type="text"], .button, .menu .icon span, .rank span, .rank li:before, 
.card .damaged, .card .heal, .card .missed, .game-overlay .version, .baloon/*, .map .card .current .hp span*/ {
  font-family: "OssBold", Impact, sans-serif;
}
