.shake {
  position: relative;
  animation: shake 0.1s infinite linear;
}

@keyframes shake {
  0% {
    transform: translateX(2px);
  }

  50% {
    transform: translateX(-2px);
  }
}

.card.shake {
  animation: cardshake 0.1s infinite linear;
}
@keyframes cardshake {
  0% {
    left: calc(50% + 8px);
  }

  50% {
    left: calc(50% - 8px);
  }
}

.card.melee-attack {
  animation: melee-attack 0.3s 1 cubic-bezier(0, -1, 1, 2);
}
@keyframes melee-attack {
  0% {
    top: calc(50% + 8px);
  }

  50% {
    top: calc(50% - 8px);
  }
}

.fx {
  image-rendering: pixelated;
  transform-style: preserve-3d;
  pointer-events: none;
  transition: none;
}

.buffs .fx {
  position: absolute;
}

.map .fx-lina.stun {
  transform: rotateX(-37deg) translate3d(75px,-480px,100px) scale(10);
  width: 64px;
  height: 128px;
  animation: lina-stun-sprite 1.4s steps(14) 1;
  background-image: url('../img/fx/lina/stun.png');
}
@keyframes lina-stun-sprite {
  100% { background-position: -896px; }
}

.fx-lina.passive {
  transform: translate(0px,-18px) scale(1.2);
  width: 34px;
  height: 50px;
  animation: lina-passive-sprite 0.8s steps(8) infinite;
  background-image: url('../img/fx/lina/passive.png');
  z-index: -1;
}

@keyframes lina-passive-sprite {
  100% { background-position: -272px; }
}

.map .fx-lina.fire {
  transform: translate3d(60px,500px,100px) scale(7);
  width: 96px;
  height: 96px;
  animation: lina-fire-sprite 1.5s steps(15) 1;
  background-image: url('../img/fx/lina/fire.png');
}
@keyframes lina-fire-sprite {
  100% {
    transform: translate3d(60px,-400px,100px) scale(7);
    background-position: -1440px; 
  }
}
.map .fx-lina.fire.bottom {
  transform: scaleY(-1) translate3d(60px,200px,100px) scale(7);
  animation: lina-fire-sprite-bottom 1.5s steps(15) 1;
}
@keyframes lina-fire-sprite-bottom {
  100% {
    transform: scaleY(-1) translate3d(60px,-700px,100px) scale(7);
    background-position: -1440px; 
  }
}
.map .fx-lina.fire.left {
  transform: translate3d(200px,160px,100px) rotateZ(-90deg) scale(7);
  animation: lina-fire-sprite-left 1.5s steps(15) 1;
}
@keyframes lina-fire-sprite-left {
  100% {
    transform: translate3d(-300px,160px,100px) rotateZ(-90deg) scale(7);
    background-position: -1440px;
  }
}
.map .fx-lina.fire.right {
  transform: translate3d(-100px,160px,100px) rotateZ(90deg) scale(7);
  animation: lina-fire-sprite-right 1.5s steps(15) 1;
}
@keyframes lina-fire-sprite-right {
  100% {
    transform: translate3d(400px,160px,100px) rotateZ(90deg) scale(7);
    background-position: -1440px;
  }
}

.map .fx-lina.ult,
.map .fx-lina.ult {
  transform: translate3d(0,0,100px) scale(18);
  width: 57px;
  height: 91px;
  animation: lina-ult-sprite 1.9s steps(19) 1;
}
@keyframes lina-ult-sprite {
  100% {
    background-position: -1083px;
  }
}
.map .fx-lina.ult-close {
  background-image: url('../img/fx/lina/ult-close.png');
}
.map .fx-lina.ult-far {
  background-image: url('../img/fx/lina/ult-far.png');
}
.map .fx-lina.ult.r01 {
  transform: translate3d(80px,0,200px) scale(9);
}
.map .fx-lina.ult.r-11 {
  transform: translate3d(40px,-45px,100px) scale(10) rotate(36deg);
}
.map .fx-lina.ult.r11 {
  transform: translate3d(110px,-45px,100px) scale(10) rotate(-36deg);
}
.map .fx-lina.ult.r10 {
  transform: translate3d(105px,-120px,100px) scale(6) rotate(-90deg);
}
.map .fx-lina.ult.r-10 {
  transform: translate3d(50px,-120px,100px) scale(6) rotate(90deg);
}
.map .fx-lina.ult.r-1-1 {
  transform: translate3d(50px,-200px,100px) scale(10) rotate(142deg);
}
.map .fx-lina.ult.r1-1 {
  transform: translate3d(110px,-200px,100px) scale(10) rotate(-142deg);
}
.map .fx-lina.ult.r0-1 {
  transform: translate3d(85px,-165px,100px) scale(9) rotate(180deg);
}
.map .fx-lina.ult.r02 {
  transform: translate3d(85px,245px,100px) scale(9);
}
.map .fx-lina.ult.r-12 {
  transform: translate3d(-30px,235px,100px) scale(10) rotate(20deg);
}
.map .fx-lina.ult.r12 {
  transform: translate3d(190px,235px,100px) scale(10) rotate(-20deg);
}
.map .fx-lina.ult.r-21 {
  transform: translate3d(-150px,55px,100px) scale(8) rotate(54deg);
}
.map .fx-lina.ult.r21 {
  transform: translate3d(315px,65px,100px) scale(8) rotate(-54deg);
}
.map .fx-lina.ult.r-20 {
  transform: translate3d(-150px,-110px,100px) scale(6.5) rotate(90deg);
}
.map .fx-lina.ult.r20 {
  transform: translate3d(330px,-110px,100px) scale(6.5) rotate(-90deg);
}
.map .fx-lina.ult.r-2-1 {
  transform: translate3d(-140px,-290px,100px) scale(8) rotate(125deg);
}
.map .fx-lina.ult.r2-1 {
  transform: translate3d(320px,-280px,100px) scale(8) rotate(-125deg);
}
.map .fx-lina.ult.r-1-2 {
  transform: translate3d(-20px,-460px,100px) scale(10) rotate(160deg);
}
.map .fx-lina.ult.r1-2 {
  transform: translate3d(200px,-460px,100px) scale(10) rotate(-160deg);
}
.map .fx-lina.ult.r0-2 {
  transform: translate3d(90px,-480px,100px) scale(9) rotate(180deg);
}

.fx-wk.stun {
  transform: scaleX(-1) translate(0px,-18px) scale(1.2);
  width: 34px;
  height: 50px;
  animation: wk-stun-sprite 0.8s steps(8) infinite;
  background-image: url('../img/fx/wk/stun.png');
  z-index: -1;
}

@keyframes wk-stun-sprite {
  100% { background-position: -272px; }
}


.map .fx-cm.ult {
  transform: rotateX(-37deg) translate3d(80px,-500px,10px) scale(4);
  width: 64px;
  height: 173px;
  animation: cm-ult-sprite 1.3s steps(13) infinite;
  background-image: url('../img/fx/cm/ult.png');
}
.map .fx-cm.ult.ult1 {
  background-image: url('../img/fx/cm/ult1.png');
}
.map .fx-cm.ult.ult2 {
  background-image: url('../img/fx/cm/ult2.png');
}
.map .fx-cm.ult.ult3 {
  background-image: url('../img/fx/cm/ult3.png');
}
@keyframes cm-ult-sprite {
  100% { background-position: -1014px; }
}


.map .fx-pud.hook {
  transform: translate3d(-430px,-200px,100px) scale(3.3);
  width: 214px;
  height: 75px;
  background-image: url('../img/fx/pud/hook.png');
  background-position: 100% 50%;
  transform-origin: 0% 0%;
}
.map .fx-pud.hook.d3 {
  transform: translate3d(-430px,-200px,100px) scale(3.3);
  animation: pud-hook-d3 1s steps(10) infinite;
  width: 14px;
}
@keyframes pud-hook-d3 {
  50%, 70% { 
    transform: translate3d(-430px,-200px,100px) scale(3.3);
    width: 164px;
  }
  100% {
    transform: translate3d(65px,-200px,100px) scale(3.3);
    width: 14px;
  }
}
.map .fx-pud.hook.d2 {
  transform: translate3d(-230px,-200px,100px) scale(3.3);
  animation: pud-hook-d2 1s steps(10) infinite;
  width: 14px;
}
@keyframes pud-hook-d2 {
  50%, 70% { 
    transform: translate3d(-230px,-200px,100px) scale(3.3);
    width: 114px;
  }
  100% {
    transform: translate3d(100px,-200px,100px) scale(3.3);
    width: 14px;
  }
}

.map .fx-pud.hook.top.d3 {
  transform: translate3d(-30px,690px,100px) rotateZ(-90deg) scale(3.5);
  animation: pud-hook-top-d3 1s steps(10) infinite;
  width: 10px;
}
@keyframes pud-hook-top-d3 {
  50%, 70% { 
    transform: translate3d(-30px,690px,100px) rotateZ(-90deg) scale(3.5);
    width: 214px;
  }
  100% {
    transform: translate3d(-30px,-30px,100px) rotateZ(-90deg) scale(3.5);
    width: 14px;
  }
}
.map .fx-pud.hook.top.d2 {
  transform: translate3d(-30px,405px,100px) rotateZ(-90deg) scale(3.5);
  animation: pud-hook-top-d2 1s steps(10) infinite;
  width: 10px;
}
@keyframes pud-hook-top-d2 {
  50%, 70% { 
    transform: translate3d(-30px,405px,100px) rotateZ(-90deg) scale(3.5);
    width: 134px;
  }
  100% {
    transform: translate3d(-30px,-30px,100px) rotateZ(-90deg) scale(3.5);
    width: 14px;
  }
}

.map .fx-pud.hook.left.d3 {
  transform: scaleX(-1) translate3d(-650px,-200px,100px) scale(3.3);
  animation: pud-hook-left-d3 1s steps(10) infinite;
  width: 14px;
}
@keyframes pud-hook-left-d3 {
  50%, 70% { 
    transform: scaleX(-1) translate3d(-650px,-200px,100px) scale(3.3);
    width: 164px;
  }
  100% {
    transform: scaleX(-1) translate3d(-154px,-200px,100px) scale(3.3);
    width: 14px;
  }
}
.map .fx-pud.hook.left.d2 {
  transform: scaleX(-1) translate3d(-434px,-200px,100px) scale(3.3);
  animation: pud-hook-left-d2 1s steps(10) infinite;
  width: 14px;
}
@keyframes pud-hook-left-d2 {
  50%, 70% { 
    transform: scaleX(-1) translate3d(-434px,-200px,100px) scale(3.3);
    width: 114px;
  }
  100% {
    transform: scaleX(-1) translate3d(-104px,-200px,100px) scale(3.3);
    width: 14px;
  }
}


.map .fx-pud.hook.bottom.d3 {
  transform: scaleY(-1) translate3d(-30px,872px,100px) rotateZ(-90deg) scale(3.5);
  animation: pud-hook-bottom-d3 1s steps(10) infinite;
  width: 10px;
}
@keyframes pud-hook-bottom-d3 {
  50%, 70% { 
    transform: scaleY(-1) translate3d(-30px,872px,100px) rotateZ(-90deg) scale(3.5);
    width: 214px;
  }
  100% {
    transform: scaleY(-1) translate3d(-30px,170px,100px) rotateZ(-90deg) scale(3.5);
    width: 14px;
  }
}
.map .fx-pud.hook.bottom.d2 {
  transform: scaleY(-1) translate3d(-30px,565px,100px) rotateZ(-90deg) scale(3.5);
  animation: pud-hook-bottom-d2 1s steps(10) infinite;
  width: 10px;
}
@keyframes pud-hook-bottom-d2 {
  50%, 70% { 
    transform: scaleY(-1) translate3d(-30px,565px,100px) rotateZ(-90deg) scale(3.5);
    width: 134px;
  }
  100% {
    transform: scaleY(-1) translate3d(-30px,145px,100px) rotateZ(-90deg) scale(3.5);
    width: 14px;
  }
}