.card .damaged, .card .missed {
  z-index: 20;
  color: gold;
  position: absolute;
  opacity: 0;
  top: 0;
  right: 0;
  font-size: 150px;
  animation: slideup 2s cubic-bezier(0.4, 0, 1, 1);
  transform: translateZ(50px);
  text-shadow: 5px 0 #ffa, -5px 0 #ffa, 0 5px #ffa, 0 -5px #ffa, 5px 5px #ffa, -5px 5px #ffa, 5px -5px #ffa, -5px -5px #ffa;
}

.card .damaged.critical, .card .missed {
  color: orangered;
  animation: slideup 5s cubic-bezier(0.4, 0, 1, 1);
}

.card .missed {
  animation: slideup 5s cubic-bezier(0.4, 0, 1, 1);
  font-size: 80px;
  text-shadow: 4px 0 white, -4px 0 white, 0 4px white, 0 -4px white, 4px 4px white, -4px 4px white, 4px -4px white, -4px -4px white;
}

.card .heal {
  z-index: 21;
  color: springgreen;
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  font-size: 150px;
  animation: slideup 5s cubic-bezier(0.4, 0, 1, 1);
  text-shadow: 5px 0 #afa, -5px 0 #afa, 0 5px #afa, 0 -5px #afa, 5px 5px #afa, -5px 5px #afa, 5px -5px #afa, -5px -5px #afa;
}

@keyframes slideup {
  0% {
    top: 40px;
    opacity: 0;
  }

  15% {
    opacity: 1;
  }

  80% {
    opacity: 1;
  }

  100% {
    top: -140px;
    opacity: 0;
  }
}

.shake {
  position: relative;
  animation: shake 0.1s infinite linear;
}

@keyframes shake {
  0% {
    transform: translateX(2px);
  }

  50% {
    transform: translateX(-2px);
  }
}

.card.shake {
  animation: cardshake 0.1s infinite linear;
}

@keyframes cardshake {
  0% {
    left: calc(50% + 8px);
  }

  50% {
    left: calc(50% - 8px);
  }
}

.card.melee-attack {
  animation: melee-attack 0.3s 1 cubic-bezier(0, -1, 1, 2);
}

@keyframes melee-attack {
  0% {
    top: calc(50% + 8px);
  }

  50% {
    top: calc(50% - 8px);
  }
}

.ultfx .fx {
  width: 720px;
  height: 300px;
  /* border-top: 75px solid #222; */
  /* border-bottom: 75px solid #222; */
  margin: 75px 0;
  position: absolute;
  left: 0;
  top: 0;
  background-size: cover;
  background-position: 50%;
  z-index: 40;
  /* box-shadow: 250px -375px 0 #222, -250px 375px 0 #222; */
  animation: ult-fx 2.2s cubic-bezier(0, 1, 1, 0) infinite;
  pointer-events: none;
}

@keyframes ult-fx {
  0% {transform: translateX(-1200px);}
  /*35%, 65% {transform: translateX(0px);}*/
  100% {transform: translateX(1200px);}
}

.ultfx .fx:after,
.ultfx .fx:before {
  content: "";
  display: block;
  width: 900px;
  height: 160px;
  background-image: url("../img/fx/ultfx.png");
  position:  absolute;
  left: -60px;
  top: -90px;
  background-size: contain;
  animation: ult-stripes 2.2s infinite;
}

.ultfx .fx:before {
  transform: scaleX(-1);
  top: 260px;
  left: -120px;
  animation: ult-stripes2 2.2s infinite;
  width: 1100px;
  height: 190px;
}

@keyframes ult-stripes {
  0% {transform: translateX(200px);}
  100% {transform: translateX(-200px);}
}

@keyframes ult-stripes2 {
  0% {transform: scaleX(-1) translateX(300px);}
  100% {transform: scaleX(-1) translateX(-100px);}
}

.ultfx .star {
  width: 600px;
  height: 8px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  z-index: 41;
  animation: ult-stars 1.1s cubic-bezier(0.55, 0.06, 0.68, 0.19) infinite;
  transition: opacity 0.2s;
  pointer-events: none;
  box-shadow: -400px 0 0 -3px white;
}

.ultfx .star.hide {
  opacity: 0;
}

.ultfx .star:nth-child(1) {
  top: 15px;
}
.ultfx .star:nth-child(2) {
  top: 40px;
  animation-delay: 0.3s;
}
.ultfx .star:nth-child(3) {
  top: 60px;
  animation-delay: 0.6s;
}
.ultfx .star:nth-child(4) {
  top: 370px;
  animation-delay: 0.5s;
}
.ultfx .star:nth-child(5) {
  top: 400px;
  animation-delay: 0.7s;
}
.ultfx .star:nth-child(6) {
  top: 427px;
  animation-delay: 0.9s;
}

@keyframes ult-stars {
  0% {transform: translateX(-1600px);}
  100% {transform: translateX(1600px);}
}

.ultfx .ld-ult {
  background-image: url("../img/skills/ld/ult.jpg");
}
.ultfx .pud-ult {
  background-image: url("../img/skills/pud/ult.jpg");
}
.ultfx .cat-ult {
  background-image: url("../img/skills/cat/ult.jpg");
}
.ultfx .wk-ult {
  background-image: url("../img/skills/wk/ult.jpg");
}
.ultfx .lina-ult {
  background-image: url("../img/skills/lina/ult.jpg");
}
.ultfx .cm-ult {
  background-image: url("../img/skills/cm/ult.jpg");
}
.ultfx .kotl-ult {
  background-image: url("../img/skills/kotl/ult.jpg");
}
.ultfx .am-ult {
  background-image: url("../img/skills/am/ult.jpg");
}
.ultfx .nyx-ult {
  background-image: url("../img/skills/nyx/ult.jpg");
}
.ultfx .com-ult {
  background-image: url("../img/heroes/com.jpg");
}
.ultfx .wind-ult {
  background-image: url("../img/heroes/wind.jpg");
}
.ultfx .venge-ult {
  background-image: url("../img/heroes/venge.jpg");
}
.ultfx .en-ult {
  background-image: url("../img/skills/en/ult.jpg");
}

.map .fx {
  image-rendering: pixelated;
  transform-style: preserve-3d;
  pointer-events: none;
  transition: none;
  position: absolute;
  opacity: 1;
}

.buffs .fx {
  position: absolute;
}

.fx.ghost {
  transform: translate3d(-50%, -50%, 30px);
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 300px;
  transform-style: preserve-3d;
  display: inline-block;
}

.fx.ghost .fx {
  position: relative;
  top: 100%;
}

.map .fx.lina-stun {
  transform: rotateX(-37deg) translate3d(75px,-480px,100px) scale(10);
  width: 64px;
  height: 128px;
  animation: lina-stun-sprite 1.4s steps(14) 1;
  background-image: url('../img/fx/lina/stun.png');
}

@keyframes lina-stun-sprite {
  100% {
    background-position: -896px;
  }
}

.fx.lina-passive {
  transform: translate(0px,-18px) scale(1.2);
  width: 34px;
  height: 50px;
  animation: lina-passive-sprite 0.8s steps(8) infinite;
  background-image: url('../img/fx/lina/passive.png');
  z-index: -1;
}

@keyframes lina-passive-sprite {
  100% {
    background-position: -272px;
  }
}

.map .fx.lina-fire {
  transform: translate3d(60px,500px,100px) scale(7);
  width: 96px;
  height: 96px;
  animation: lina-fire-sprite 1.5s steps(15) 1;
  background-image: url('../img/fx/lina/fire.png');
}

@keyframes lina-fire-sprite {
  100% {
    transform: translate3d(60px,-700px,100px) scale(7);
    background-position: -1440px;
  }
}

.map .fx.lina-fire.bottom {
  transform: scaleY(-1) translate3d(60px,200px,100px) scale(7);
  animation: lina-fire-sprite-bottom 1.5s steps(15) 1;
}

@keyframes lina-fire-sprite-bottom {
  100% {
    transform: scaleY(-1) translate3d(60px,-900px,100px) scale(7);
    background-position: -1440px;
  }
}

.map .fx.lina-fire.left {
  transform: translate3d(200px,160px,100px) rotateZ(-90deg) scale(7);
  animation: lina-fire-sprite-left 1.5s steps(15) 1;
}

@keyframes lina-fire-sprite-left {
  100% {
    transform: translate3d(-350px,160px,100px) rotateZ(-90deg) scale(7);
    background-position: -1440px;
  }
}

.map .fx.lina-fire.right {
  transform: translate3d(-100px,160px,100px) rotateZ(90deg) scale(7);
  animation: lina-fire-sprite-right 1.5s steps(15) 1;
}

@keyframes lina-fire-sprite-right {
  100% {
    transform: translate3d(450px,160px,100px) rotateZ(90deg) scale(7);
    background-position: -1440px;
  }
}

.map .fx.lina-ult {
  transform: translate3d(0,0,100px) scale(18);
  width: 57px;
  height: 91px;
  animation: lina-ult-sprite 1.9s steps(19) 1;
}

@keyframes lina-ult-sprite {
  100% {
    background-position: -1083px;
  }
}

.map .fx.lina-ult.close {
  background-image: url('../img/fx/lina/ult-close.png');
}

.map .fx.lina-ult.far {
  background-image: url('../img/fx/lina/ult-far.png');
}

.map .fx.lina-ult.r01 {
  transform: translate3d(80px,0,200px) scale(9);
}

.map .fx.lina-ult.r-11 {
  transform: translate3d(40px,-45px,100px) scale(10) rotate(36deg);
}

.map .fx.lina-ult.r11 {
  transform: translate3d(110px,-45px,100px) scale(10) rotate(-36deg);
}

.map .fx.lina-ult.r10 {
  transform: translate3d(105px,-120px,100px) scale(6) rotate(-90deg);
}

.map .fx.lina-ult.r-10 {
  transform: translate3d(50px,-120px,100px) scale(6) rotate(90deg);
}

.map .fx.lina-ult.r-1-1 {
  transform: translate3d(50px,-200px,100px) scale(10) rotate(142deg);
}

.map .fx.lina-ult.r1-1 {
  transform: translate3d(110px,-200px,100px) scale(10) rotate(-142deg);
}

.map .fx.lina-ult.r0-1 {
  transform: translate3d(85px,-165px,100px) scale(9) rotate(180deg);
}

.map .fx.lina-ult.r02 {
  transform: translate3d(85px,245px,100px) scale(9);
}

.map .fx.lina-ult.r-12 {
  transform: translate3d(-30px,235px,100px) scale(10) rotate(20deg);
}

.map .fx.lina-ult.r12 {
  transform: translate3d(190px,235px,100px) scale(10) rotate(-20deg);
}

.map .fx.lina-ult.r-21 {
  transform: translate3d(-150px,55px,100px) scale(8) rotate(54deg);
}

.map .fx.lina-ult.r21 {
  transform: translate3d(315px,65px,100px) scale(8) rotate(-54deg);
}

.map .fx.lina-ult.r-20 {
  transform: translate3d(-150px,-110px,100px) scale(6.5) rotate(90deg);
}

.map .fx.lina-ult.r20 {
  transform: translate3d(330px,-110px,100px) scale(6.5) rotate(-90deg);
}

.map .fx.lina-ult.r-2-1 {
  transform: translate3d(-140px,-290px,100px) scale(8) rotate(125deg);
}

.map .fx.lina-ult.r2-1 {
  transform: translate3d(320px,-280px,100px) scale(8) rotate(-125deg);
}

.map .fx.lina-ult.r-1-2 {
  transform: translate3d(-20px,-460px,100px) scale(10) rotate(160deg);
}

.map .fx.lina-ult.r1-2 {
  transform: translate3d(200px,-460px,100px) scale(10) rotate(-160deg);
}

.map .fx.lina-ult.r0-2 {
  transform: translate3d(90px,-480px,100px) scale(9) rotate(180deg);
}

.fx.wk-stun {
  transform: scaleX(-1) translate(0px,-18px) scale(1.2);
  width: 34px;
  height: 50px;
  animation: wk-stun-sprite 0.8s steps(8) infinite;
  background-image: url('../img/fx/wk/stun.png');
  z-index: -1;
}

@keyframes wk-stun-sprite {
  100% {
    background-position: -272px;
  }
}

.map .fx.cm-slow {
  transform: rotateX(-37deg) translate3d(45px,20px,70px) scale(7);
  width: 128px;
  height: 128px;
  animation: cm-slow-sprite 1.2s steps(20) 1;
  background-image: url('../img/fx/cm/slow.png');
}

@keyframes cm-slow-sprite {
  100% {
    background-position: -2560px;
  }
}

.map .fx.cm-freeze,
.map .fx.cm-freeze:after {
  transform: rotateX(-15deg) translate3d(100px,-160px,0px) scale(2.6);
  width: 96px;
  height: 128px;
  animation: cm-freeze-sprite 1.2s steps(22) 1;
  background-image: url('../img/fx/cm/freeze.png');
  background-position: -2016px;
}
.map .fx.cm-freeze:after {
  display: block;
  content:"";
  opacity: 0.6;
  transform: scaleX(-1) rotateZ(-10deg) translate3d(28px,-10px,0px) scale(1.3);
}


@keyframes cm-freeze-sprite {
  0% {
    background-position: 0px;
  }
  100% {
    background-position: -2112px;
  }
}

.map .fx.cm-ult {
  transform: rotateX(-37deg) translate3d(80px,-500px,10px) scale(4);
  width: 64px;
  height: 173px;
  animation: cm-ult-sprite 1.1s steps(13) 1;
  background-image: url('../img/fx/cm/ult.png');
}

.map .fx.cm-ult.ult1 {
  background-image: url('../img/fx/cm/ult1.png');
}

.map .fx.cm-ult.ult2 {
  background-image: url('../img/fx/cm/ult2.png');
}

.map .fx.cm-ult.ult3 {
  background-image: url('../img/fx/cm/ult3.png');
}

@keyframes cm-ult-sprite {
  100% {
    background-position: -1014px;
  }
}

.map .fx.cat-star {
  transform: rotateX(-37deg) translate3d(60px,-520px,10px) scale(4);
  width: 96px;
  height: 256px;
  animation: cat-star-sprite 1.05s steps(23) 1;
  background-image: url('../img/fx/cat/star.png');
}

@keyframes cat-star-sprite {
  100% {
    background-position: -2208px;
  }
}

.map .fx.cat-leap {
  transform: rotateX(-37deg) translate3d(80px,40px,120px) scale(4);
  width: 67px;
  height: 58px;
  animation: cat-leap-sprite 0.8s steps(6) 1;
  background-image: url('../img/fx/cat/leap.png');
}
@keyframes cat-leap-sprite {
  100% {
    background-position: -402px;
  }
}

.map .fx.cat-leap-path {
  transform: translate3d(85px,300px,10px) scale(4);
  width: 28px;
  height: 157px;
  animation: cat-leap-path-sprite 0.8s steps(6) 1;
  background-image: url('../img/fx/cat/leap-path.png');
}
@keyframes cat-leap-path-sprite {
  100% {
    background-position: -168px;
  }
}

.map .fx.cat-leap-path.r-12 {
  transform: rotateZ(20deg) translate3d(120px,320px,10px) scale(4);
}
.map .fx.cat-leap-path.r12 {
  transform: rotateZ(-20deg) translate3d(50px,380px,10px) scale(4);
}
.map .fx.cat-leap-path.r-20 {
  transform: rotateZ(90deg) translate3d(10px,140px,10px) scale(3.5);
}
.map .fx.cat-leap-path.r-21 {
  transform: rotateZ(55deg) translate3d(50px,220px,10px) scale(3.5);
}
.map .fx.cat-leap-path.r-2-1 {
  transform: rotateZ(125deg) translate3d(-50px,200px,10px) scale(3.5);
}
.map .fx.cat-leap-path.r20 {
  transform: rotateZ(-90deg) translate3d(-10px,320px,10px) scale(3.5);
}
.map .fx.cat-leap-path.r2-1 {
  transform: rotateZ(-125deg) translate3d(-50px,350px,10px) scale(3.5);
}
.map .fx.cat-leap-path.r21 {
  transform: rotateZ(-55deg) translate3d(40px,360px,10px) scale(3.5);
}
.map .fx.cat-leap-path.r0-2 {
  transform: rotateZ(180deg) translate3d(-90px,320px,10px) scale(4);
}
.map .fx.cat-leap-path.r-1-2 {
  transform: rotateZ(160deg) translate3d(-100px,320px,10px) scale(4);
}
.map .fx.cat-leap-path.r1-2 {
  transform: rotateZ(200deg) translate3d(-80px,400px,10px) scale(4);
}

.map .fx.cat-arrow {
  transform: translate3d(90px,500px,10px) scale(4);
  width: 30px;
  height: 243px;
  animation: cat-arrow-sprite 1.3s steps(7) 1;
  background-image: url('../img/fx/cat/arrow.png');
}
@keyframes cat-arrow-sprite {
  100% {
    background-position: -210px;
  }
}
.map .fx.cat-arrow.r-40, .map .fx.cat-arrow.r-30, .map .fx.cat-arrow.r-20, .map .fx.cat-arrow.r-10 {
  transform: rotateZ(90deg) translate3d(-40px,360px,10px) scale(4);
}
.map .fx.cat-arrow.r40, .map .fx.cat-arrow.r30, .map .fx.cat-arrow.r20, .map .fx.cat-arrow.r10 {
  transform: rotateZ(-90deg) translate3d(40px,500px,10px) scale(4);
}
.map .fx.cat-arrow.r0-1, .map .fx.cat-arrow.r0-2, .map .fx.cat-arrow.r0-3, .map .fx.cat-arrow.r0-4 {
  transform: rotateZ(180deg) translate3d(-80px,440px,10px) scale(4);
}

.map .fx.cat-arrow-source {
  transform: translate3d(70px,100px,100px) scale(3.5);
  width: 62px;
  height: 73px;
  animation: cat-arrow-source-sprite 0.6s steps(6) 1;
  background-image: url('../img/fx/cat/arrow-source.png');
}
@keyframes cat-arrow-source-sprite {
  100% {
    background-position: -372px;
  }
}
.map .fx.cat-arrow-source.r-40, .map .fx.cat-arrow-source.r-30, .map .fx.cat-arrow-source.r-20, .map .fx.cat-arrow-source.r-10,
.map .fx.cat-arrow-source.r40, .map .fx.cat-arrow-source.r30, .map .fx.cat-arrow-source.r20, .map .fx.cat-arrow-source.r10 {
  width: 132px;
  height: 62px;
  animation: cat-arrow-source-sprite-horiz 0.6s steps(6) 1;
  background-image: url('../img/fx/cat/arrow-source-horiz.png'); 
}
@keyframes cat-arrow-source-sprite-horiz {
  100% {
    background-position: -792px;
  }
}
.map .fx.cat-arrow-source.r-40, .map .fx.cat-arrow-source.r-30, .map .fx.cat-arrow-source.r-20, .map .fx.cat-arrow-source.r-10 {
  transform: translate3d(40px,80px,100px) scale(3);
}
.map .fx.cat-arrow-source.r40, .map .fx.cat-arrow-source.r30, .map .fx.cat-arrow-source.r20, .map .fx.cat-arrow-source.r10 {
  transform: scaleX(-1) translate3d(-40px,80px,100px) scale(3.5);
}
.map .fx.cat-arrow-source.r0-1, .map .fx.cat-arrow-source.r0-2, .map .fx.cat-arrow-source.r0-3, .map .fx.cat-arrow-source.r0-4 {
  transform: rotateZ(180deg) translate3d(-70px,-80px,100px) scale(3.5);
}

.map .fx.cat-arrow-impact {
  transform: translate3d(60px,-180px,10px) scale(3.5);
  width: 62px;
  height: 66px;
  animation: cat-arrow-impact-sprite 0.6s steps(5) 1;
  background-image: url('../img/fx/cat/arrow-impact.png');
}
@keyframes cat-arrow-impact-sprite {
  100% {
    background-position: -350px;
  }
}
.map .fx.cat-arrow-impact.r-40, .map .fx.cat-arrow-impact.r-30, .map .fx.cat-arrow-impact.r-20, .map .fx.cat-arrow-impact.r-10 {
  transform: rotateZ(90deg) translate3d(-180px,-40px,10px) scale(3.5);
}
.map .fx.cat-arrow-impact.r40, .map .fx.cat-arrow-impact.r30, .map .fx.cat-arrow-impact.r20, .map .fx.cat-arrow-impact.r10 {
  transform: rotateZ(-90deg) translate3d(180px,100px,10px) scale(3.5);
}
.map .fx.cat-arrow-impact.r0-1, .map .fx.cat-arrow-impact.r0-2, .map .fx.cat-arrow-impact.r0-3, .map .fx.cat-arrow-impact.r0-4 {
  transform: rotateZ(180deg) translate3d(-70px,180px,10px) scale(3.5);
}

.map .fx.cat-ult {
  transform: translate3d(40px,-320px,70px) scale(4);
  width: 156px;
  height: 67px;
  animation: cat-ult-sprite 1.4s steps(18) 1;
  background-image: url('../img/fx/cat/ult.png');
}

@keyframes cat-ult-sprite {
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    background-position: -2808px;
  }
}

.map .fx.pud-rot {
  transform: rotateX(-17deg) translate3d(34px,-190px,30px) scale(6.5);
  width: 92px;
  height: 83px;
  animation: pud-rot-sprite 1.1s steps(14) infinite;
  background-image: url('../img/fx/pud/rot.png');
}

@keyframes pud-rot-sprite {
  100% {
    background-position: -1288px;
  }
}

.map .fx.pud-hook {
  transform: translate3d(-430px,-200px,100px) scale(3.3);
  width: 214px;
  height: 75px;
  background-image: url('../img/fx/pud/hook.png');
  background-position: 100% 50%;
  transform-origin: 0% 0%;
}

.map .fx.pud-hook.d3 {
  transform: translate3d(-430px,-200px,100px) scale(3.3);
  animation: pud-hook-d3 1s steps(10) infinite;
  width: 14px;
}

@keyframes pud-hook-d3 {
  50%, 70% {
    transform: translate3d(-430px,-200px,100px) scale(3.3);
    width: 164px;
  }

  100% {
    transform: translate3d(65px,-200px,100px) scale(3.3);
    width: 14px;
  }
}

.map .fx.pud-hook.d2 {
  transform: translate3d(-230px,-200px,100px) scale(3.3);
  animation: pud-hook-d2 1s steps(10) infinite;
  width: 10px;
}

@keyframes pud-hook-d2 {
  50%, 70% {
    transform: translate3d(-230px,-200px,100px) scale(3.3);
    width: 114px;
  }

  100% {
    transform: translate3d(100px,-200px,100px) scale(3.3);
    width: 10px;
  }
}

.map .fx.pud-hook.d1 {
  transform: translate3d(-10px,-200px,100px) scale(3.3);
  animation: pud-hook-d1 1s steps(10) infinite;
  width: 4px;
}

@keyframes pud-hook-d1 {
  50%, 70% {
    transform: translate3d(-10px,-200px,100px) scale(3.3);
    width: 54px;
  }

  100% {
    transform: translate3d(40px,-200px,100px) scale(3.3);
    width: 4px;
  }
}

.map .fx.pud-hook.top.d3 {
  transform: translate3d(-30px,690px,100px) rotateZ(-90deg) scale(3.5);
  animation: pud-hook-top-d3 1s steps(10) infinite;
  width: 10px;
}

@keyframes pud-hook-top-d3 {
  50%, 70% {
    transform: translate3d(-30px,690px,100px) rotateZ(-90deg) scale(3.5);
    width: 214px;
  }

  100% {
    transform: translate3d(-30px,-30px,100px) rotateZ(-90deg) scale(3.5);
    width: 14px;
  }
}

.map .fx.pud-hook.top.d2 {
  transform: translate3d(-30px,405px,100px) rotateZ(-90deg) scale(3.5);
  animation: pud-hook-top-d2 1s steps(10) infinite;
  width: 10px;
}

@keyframes pud-hook-top-d2 {
  50%, 70% {
    transform: translate3d(-30px,405px,100px) rotateZ(-90deg) scale(3.5);
    width: 134px;
  }

  100% {
    transform: translate3d(-30px,-30px,100px) rotateZ(-90deg) scale(3.5);
    width: 10px;
  }
}

.map .fx.pud-hook.top.d1 {
  transform: translate3d(-30px,75px,100px) rotateZ(-90deg) scale(3.5);
  animation: pud-hook-top-d1 1s steps(10) infinite;
  width: 4px;
}

@keyframes pud-hook-top-d1 {
  50%, 70% {
    transform: translate3d(-30px,75px,100px) rotateZ(-90deg) scale(3.5);
    width: 54px;
  }

  100% {
    transform: translate3d(-30px,25px,100px) rotateZ(-90deg) scale(3.5);
    width: 4px;
  }
}

.map .fx.pud-hook.left.d3 {
  transform: scaleX(-1) translate3d(-650px,-200px,100px) scale(3.3);
  animation: pud-hook-left-d3 1s steps(10) infinite;
  width: 14px;
}

@keyframes pud-hook-left-d3 {
  50%, 70% {
    transform: scaleX(-1) translate3d(-650px,-200px,100px) scale(3.3);
    width: 164px;
  }

  100% {
    transform: scaleX(-1) translate3d(-154px,-200px,100px) scale(3.3);
    width: 14px;
  }
}

.map .fx.pud-hook.left.d2 {
  transform: scaleX(-1) translate3d(-434px,-200px,100px) scale(3.3);
  animation: pud-hook-left-d2 1s steps(10) infinite;
  width: 10px;
}

@keyframes pud-hook-left-d2 {
  50%, 70% {
    transform: scaleX(-1) translate3d(-434px,-200px,100px) scale(3.3);
    width: 114px;
  }

  100% {
    transform: scaleX(-1) translate3d(-104px,-200px,100px) scale(3.3);
    width: 10px;
  }
}

.map .fx.pud-hook.left.d1 {
  transform: scaleX(-1) translate3d(-226px,-200px,100px) scale(3.3);
  animation: pud-hook-left-d1 1s steps(10) infinite;
  width: 4px;
}

@keyframes pud-hook-left-d1 {
  50%, 70% {
    transform: scaleX(-1) translate3d(-226px,-200px,100px) scale(3.3);
    width: 54px;
  }

  100% {
    transform: scaleX(-1) translate3d(-104px,-200px,100px) scale(3.3);
    width: 4px;
  }
}

.map .fx.pud-hook.bottom.d3 {
  transform: scaleY(-1) translate3d(-30px,872px,100px) rotateZ(-90deg) scale(3.5);
  animation: pud-hook-bottom-d3 1s steps(10) infinite;
  width: 14px;
}

@keyframes pud-hook-bottom-d3 {
  50%, 70% {
    transform: scaleY(-1) translate3d(-30px,872px,100px) rotateZ(-90deg) scale(3.5);
    width: 214px;
  }

  100% {
    transform: scaleY(-1) translate3d(-30px,170px,100px) rotateZ(-90deg) scale(3.5);
    width: 14px;
  }
}

.map .fx.pud-hook.bottom.d2 {
  transform: scaleY(-1) translate3d(-30px,565px,100px) rotateZ(-90deg) scale(3.5);
  animation: pud-hook-bottom-d2 1s steps(10) infinite;
  width: 14px;
}

@keyframes pud-hook-bottom-d2 {
  50%, 70% {
    transform: scaleY(-1) translate3d(-30px,565px,100px) rotateZ(-90deg) scale(3.5);
    width: 134px;
  }

  100% {
    transform: scaleY(-1) translate3d(-30px,145px,100px) rotateZ(-90deg) scale(3.5);
    width: 14px;
  }
}

.map .fx.pud-hook.bottom.d1 {
  transform: scaleY(-1) translate3d(-30px,260px,100px) rotateZ(-90deg) scale(3.5);
  animation: pud-hook-bottom-d1 1s steps(10) infinite;
  width: 4px;
}

@keyframes pud-hook-bottom-d1 {
  50%, 70% {
    transform: scaleY(-1) translate3d(-30px,260px,100px) rotateZ(-90deg) scale(3.5);
    width: 54px;
  }

  100% {
    transform: scaleY(-1) translate3d(-30px,145px,100px) rotateZ(-90deg) scale(3.5);
    width: 4px;
  }
}

.map .fx.pud-ult {
  transform: rotateX(-17deg) translate3d(80px,-150px,50px) scale(4);
  width: 73px;
  height: 85px;
  animation: pud-ult-sprite 1.6s steps(14) 1;
  background-image: url('../img/fx/pud/ult.png');
}

@keyframes pud-ult-sprite {
  50% {
    background-position: -1022px;
    transform: rotateX(-17deg) translate3d(80px,-150px,50px) scale(4);
  }
  50.01% {
    background-position: 0px;
    transform: scaleX(-1) rotateX(-17deg) translate3d(-60px,-150px,50px) scale(3);
  }
  100% {
    background-position: -1022px;
    transform: scaleX(-1) rotateX(-17deg) translate3d(-60px,-150px,50px) scale(3);
  }
}
