html, body {
  user-select: none;
  -webkit-user-select: none;
  margin: 0;
  width: 100%;
  height: 100%;
  min-width: 485px;
  min-height: 300px;
  font-family: sans-serif;
}

body {
  background-attachment: fixed;
  background-color: #22272c;
  background: radial-gradient(ellipse farthest-corner at center top, #6e7a66 0%, #343b43 30%, #22272c 60%, #22272c 100%), #22272c;
  background-size: 100% 20%;
  background-repeat: no-repeat;
  box-shadow: 0 -50px 100px rgba(0,0,0,0.7) inset;
  overflow: hidden;
  tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

p {
  cursor: default;
  word-spacing: -1px;
  padding: 1px 2px;
}

a, a:visited {
  text-decoration: none;
}

h1, h2 {
  padding: 1px 2px;
  margin: 0;
  font-weight: normal;
}

h1 {
  font-size: 22px;
  cursor: default;
}

h2 {
  font-size: 19px;
  cursor: default;
  margin: 10px 0;
}

img {
  border: 0;
}

small {
  font-size: 70%;
}

noscript {
  display: block;
}

.game-container {
  position: absolute;
  width: 970px;
  height: 600px;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  color: #fff;
  /* background-image: url("../img/banner.jpg"); */
  background-size: cover;
  background-position: 50%;
  background-color: #859890;
  overflow: hidden;
}

.game-container.menu-state .states,
.game-container.campaign-state .states,
.game-container.choose-state .states,
.game-container.vs-state .states,
.game-container.table-state .states,
.game-container.result-state .states {
  background-color: #126766;
  background-image: url("../img/bkg/polygon-dark.jpg");
}


.bkgdeck {
  position: absolute;
  transform-style: preserve-3d;
}

.log-state .bkgdeck, .campaign-state .bkgdeck, .choose-state .bkgdeck, .vs-state .bkgdeck, .table-state .bkgdeck{
  display: none;
}

.bkgdeck .card {
  position: absolute;
  cursor: default;
  z-index: 0;
  pointer-events: none;
}

.bkgdeck .card:hover {
  z-index: 1;
}

.bkgdeck .ld {
  transform: translate3d(787px, -44px, -69px) rotateY(-61deg) rotateZ(34deg) rotateX(-25deg);
}

.bkgdeck .wk {
  transform: translate3d(740px, -130px, -260px) rotateY(-50deg) rotateZ(30deg) rotateX(-15deg);
}

.bkgdeck .cm {
  transform: translate3d(970px, 90px, -184px) rotateY(-85deg) rotateZ(35deg) rotateX(-5deg);
}

.bkgdeck .pud {
  transform: translate(-65px, -60px) translateZ(-140px) rotateY(50deg) rotateZ(-36deg) rotateX(-2deg);
}

.bkgdeck .am {
  transform: translate(-255px, 130px) translateZ(-290px) rotateY(70deg) rotateZ(-35deg) rotateX(5deg);
}

.bkgdeck .kotl {
  transform: translate(-5px, -130px) translateZ(-323px) rotateY(40deg) rotateZ(-39deg) rotateX(-18deg);
}

.states {
  overflow: hidden;
  transform: translate3d(0,0,1px);
  perspective: 600px;
}

.states.iddle {
  animation: persp 20s infinite;
}

@keyframes persp {
  0%, 100% {
    perspective-origin: 50% 55%;
  }

  25% {
    perspective-origin: 55% 50%;
  }

  50% {
    perspective-origin: 50% 45%;
  }

  75% {
    perspective-origin: 45% 50%;
  }
}

.hidden {
  display: none;
}

.box {
  position: absolute;
  box-sizing: border-box;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -48%);
  padding: 40px 80px;
  text-align: center;
  border-radius: 5px;
  background-color: rgba(11, 15, 14, 0.75);
}
noscript .box,
.notfound .box,
.campaign-box.box,
.resultsbox,
.loading .box,
.game-overlay .box,
.log .box,
.menu .box {
  background-color: #F9F9F9;
  color: #333;
  font-weight: bold;
  box-shadow: inset 0 20px 30px #d2d2d2, 0 0 0 6px #fff;
  border-radius: 18px;
}
noscript .box {
  top: 70%;
  padding: 20px 40px;
}

.box p, .box label {
  display: block;
  font-weight: normal;
  margin-bottom: 4px;
}

.game-overlay .box a {
  color: #333;
  text-decoration: underline;
}

.game-overlay .log.box {
  width: 600px;
  padding: 35px 40px 20px 40px;
}
.game-overlay .log.box b {
  font-weight: lighter;
}
.game-overlay .log.box .version {
  font-size: 16px;
  line-height: 40px;
  font-weight: lighter;
  margin-left: 6px;
}

.game-overlay .log.box.vote {
  width: 560px;
}

.game-overlay .log.box.vote h2 {
  font-weight: bold;
}

.log .h1 {
  z-index: 10;
  position: absolute;
  top: 55%;
  left: 50%;
  animation: logoslideup 0.8s 1;
  transform: translate(-50%, -100%);
}

@keyframes logoslideup {
  0% {
    transform: translate(-50%, -75%);
  }

  100% {
    transform: translate(-50%, -100%);
  }
}

.log .h2 {
  z-index: 10;
  margin: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.log .h2 {
  animation: slideright 5s infinite;
}

@keyframes slideright {
  0% {
    transform: translate(-150%, 0);
  }

  5%, 95% {
    transform: translate(-55%, 0);
  }

  100% {
    transform: translate(250%, 0);
  }
}

.loading .box, 
.notfound .box {
  width: 250px;
  top: 68%;
  padding: 8px;
}

.notfound .box {
  width: auto;
  padding: 8px 40px;
}
.notfound .box a,
noscript .box a {
  color: #333;
  text-decoration: underline;
}

.box .loadtext {
  margin-left: 0.5em;
}

.loadtext .message {
  margin-left: 12px;
}

.loadtext .message, .loadtext .progress {
  line-height: 22px;
}

.states {
  background-image: url(../img/banner.jpg);
  background-size: cover;
}

.states, .state {
  width: 970px;
  height: 600px;
  position: absolute;
  top: 0;
  left: 0;
}

.state p {
  display: block;
  margin: 1em;
}

input {
  border-radius: 3px;
  letter-spacing: -1px;
  word-spacing: -1px;
  font-size: 17px;
  color: #4d4843;
  outline: 0;
  border: 0;
  padding: 5px;
  margin: 1px;
  height: 22px;
  transform: translateZ(0);
}

input[type=text] {
  background: #eee;
  box-shadow: inset 0 10px 20px #bbb;
  height: 30px;
  padding: 10px;
}

input:focus {
  animation: shade 0.5s;
}

@keyframes shade {
  50% {
    opacity: 0.5;
  }
}

.external {
  position: relative;
  transform: translate(3px, -6px) scale(0.65) rotate(-45deg);
  display: inline-block;
}

.external:after {
  position: absolute;
  content: "◇";
  top: -2px;
  left: -6px;
  z-index: -1;
  transform: scale(1.7);
  display: block;
}

.game-overlay:before {
  content: "";
  position: absolute;
  left: -1000vw;
  top: -1000vh;
  height: 3000vh;
  width: 3000vw;
  background: rgba(0,0,0,0.7);
  z-index: 29;
  transform: translateZ(1px);
}
.game-overlay {
  display: none;
}

.credits.box {
  width: 480px;
}

.game-overlay .box {
  z-index: 30;
  padding: 40px 80px;
  transform: translate3d(-50%, -48%, 2px);
}

.game-overlay h1 {
  margin-bottom: 10px;
  /* font-weight: bold; */
}

.option-state .game-overlay {
  display: block;
  z-index: 29;
}

.button, button, input[type=button], input[type=submit] {
  display: inline-block;
  text-align: center;
  font-size: 16px;
  line-height: 40px;
  cursor: pointer;
  padding: 8px 12px;
  border: 0;
  border-radius: 3px;
  margin: 6px;
  outline: 0;
  background: #9dada4;
  color: white;
  text-shadow: 0 1px 0 #444;
  box-shadow: 0 4px 0 #777;
  position: relative;
  top: -3px;
  transition: all 0.2s;
  transform: translateZ(0);
  min-width: 75px;
  min-height: 40px;
  overflow: hidden;
  font-weight: 300;
}

.button:hover, button:hover, input[type=button]:hover, input[type=submit]:hover {
  background: #aab2a3;
  z-index: 20;
}

.button:active, button:active, input[type=button]:active, input[type=submit]:active {
  top: 0;
  box-shadow: 0 1px 0 #9b9c89;
}

.button[disabled], button[disabled], input[type=button][disabled], input[type=submit][disabled] {
  background: darkgray;
  color: gray;
  text-shadow: none;
  box-shadow: 0 4px 0 gray;
}

.button[disabled]:hover, button[disabled]:hover, input[type=button][disabled]:hover, input[type=submit][disabled]:hover {
  cursor: default;
  background: darkgray;
  z-index: 0;
}

.button[disabled]:active, button[disabled]:active, input[type=button][disabled]:active, input[type=submit][disabled]:active {
  top: -3px;
}

.buttonbox .button {
  display: block;
  margin-bottom: 14px;
}
.buttonbox .button:last-child {
  margin-bottom: 6px;
}

.button.highlight {
  background-color: #66bb8c;
  box-shadow: 0 4px 0 #4b8864;
}
.button.highlight:active {
  box-shadow: 0 1px 0 #4b8864;
}

.button.highlight[disabled], .button.highlight[disabled]:hover {
  background: #8da7a2;
  box-shadow: 0 4px 0 #6f7d76;
}
.button.highlight:hover {
  background: #82c19f;
}

.button.alert, .button.alert[disabled]:active  {
  background: tomato;
  box-shadow: 0 4px 0 #df4327;
}
.button.alert:active {
  box-shadow: 0 1px 0 #df4327;
}
.button.alert:hover {
  background: #ff7357;
}

input[type="checkbox"], input[type="radio"] {
  transform: scale(1.3);
  cursor: pointer;
}

.button.surrender, .button.surrender[disabled]:hover {
  background: #da7664;
  box-shadow: 0 4px 0 #ca5c48;
}

.button.surrender:hover {
  background: #d27870;
}

.button:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: url(/img/bkg/steel.jpg);
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.3;
}

label {
  display: block;
  padding: 0 2px;
  margin: 0;
  text-align: left;
  height: 28px;
}

label input {
  margin: 0 5px;
}


.log .box {
  padding: 10px;
  padding-bottom: 6px;
  width: 400px;
  top: 72%;
  z-index: 10;
}

.log h1 {
  font-size: 26px;
  margin-bottom: 14px;
}

.log a {
  text-decoration: underline;
  color: #333;
}

.log form {
  margin-top: 1px;
}

.log form .button {
  width: 160px;
}
.log form input[type="text"] {
  width: 180px;
}

.log .button {
  width: 200px;
}
.log .button.large {
  width: 240px;
}

.log label {
  text-align: center;
}

.log .remembername {
  cursor: pointer;
}

.log .remembername * {
  vertical-align: bottom;
}

.menu h1 {
  margin-bottom: 20px;
}

.menu.box {
  padding: 30px 50px;
  left: 40%;
}

.menu.box .button {
  margin: 10px;
  display: block;
  font-size: 18px;
  width: 274px;
}

.menu .rank.box {
  transform: translate(215px, -66%);
  width: 260px;
  padding: 15px;
  border-radius: 0 18px 18px 0;
  opacity: 0.85;
  counter-reset: item;
  list-style-type: none;
}
.rank.box .loader {
  float: none !IMPORTANT;
  border-bottom: 3px solid #333;
  margin-right: 10px;
}
.rank.box li {
  margin: 0;
  width: 100%;
  height: 28px;
  border-bottom: 1px solid #ddd;
  text-align: left;
  font-weight: normal;
}
.rank.box li:before {
  counter-increment: item;
  content: counter(item) " ";
  display: inline-block;
  line-height: 28px;
  vertical-align: top;
  margin-right: 4px;
}
.rank.box li:last-child {
  border: 0;
}
.rank.box span {
  max-width: 160px;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-left: 8px;
  display: inline-block;
}
.rank.box span:last-child {
  float: right;
  max-width: 40px;
}

.deck {
  transition: all 0.4s;
}

/*BUFFS*/
.table .buffs .buff.stun .img {
  background-image: url("../img/skills/stun.gif");
  background-size: 100%;
}

.silence .img {
  background-image: url("../img/skills/silence.jpg");
}

.magicimmune .img {
  background-image: url("../img/skills/magicimmune.jpg");
}

.ethereal .img {
  background-image: url("../img/skills/ethereal.jpg")
}
