.camera .shop {
  width: 98%;
  height: 116%;
  border-radius: 6px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transition: transform 0.2s;
  transform: translate(-350px, 540px) rotateX(16deg) scale(0.9);
  transform-style: preserve-3d;
  background-color: rgba(0,0,0,0.75);
  box-shadow: inset 0 10px 0 16px rgba(10,40,50,0.3);
}
.camera .shop.show {
  transform: translate3d(-344px, 40px,100px) rotateX(16deg) scale(0.8);
}
.table .items.deck {
  padding-top: 28px;
  padding-left: 10px;
  transform-style: preserve-3d;
}

.table .items.deck > div {
  height: 55px;
  width: 300px;
  float: left;
  padding: 32px 0px 0 24px;
  pointer-events: none;
  transform: rotateX(-16deg);
  transform-style: preserve-3d;
  box-shadow: 6px 55px 0 -6px rgba(0,0,0,0.2), 6px 70px 0 -6px rgba(10,28,30,0.3), 6px 72px 0 -6px rgba(255,255,255,0.04);
}

.table .items.deck .card {
  margin-right: -140px;
  transform: translate3d(-50%, -50%, 40px) scale(0.4) rotate(0);
}

.table .items.deck .card:hover {
  transform: translate3d(-50%, -50%, 45px) scale(0.45) rotate(0);
}

.items.deck .expensive.card {
  background-color: #777;
  -webkit-filter: grayscale(0.7);
  filter: grayscale(0.8) brightness(1.2);
}

.expensive.card .price {
  color: red;
}

.items .card.selected {
  box-shadow: 0 0 0 4px white;
}

.items.healing.card {
  background-color: #388a40;
}
.items.healing.card.consumable {
  background-color: #57bf61;
}
.items.mana.card {
  background-color: #487ede;
}
.items.mana.card.consumable {
  background-color: #4db2dc;
}
.items.armor.card {
  background-color: #696565;
}
.items.armor.card.consumable {
  background-color: #999;
}
.items.attack.card {
  background-color: #c5432c;
}
.items.attack.card.consumable {
  background-color: #fd684e;
}
.items.resistance.card {
  background-color: #752db7;
}
.items.resistance.card.consumable {
  background-color: #8449ef;
}
.items.arcane.card {
  background-color: #004390;
}
.items.arcane.card.consumable {
  background-color: #1e6ec3;
}
.items.movement.card {
  background-color: #e09d25;
}
.items.movement.card.consumable {
  background-color: #E5BC53;
}
.items.range.card {
  background-color: #f7872c;
}
.items.range.card.consumable {
  background-color: #f3a96c;
}
.items.armaments.card {
  background-color: #bd4d62;
}
.items.armaments.card.consumable {
  background-color: #f58a99;
}
.items.relic.card {
  background-color: #e557c4;
}
.items.relic.card.consumable {
  background-color: #f584f2;
}

.items.healing .img {
  background-color: #90d096;
}
.items.attack .img {
  background-color: #ab7167;
}
.items.mana .img {
  background-color: #9cb6c1
}
.items.resistance .img {
  background-color: #a399b5
}
.items.arcane .img {
  background-color: #a1b4c7
}
.items.movement .img {
  background-color: #e0ca92;
}
.items.armor .img {
  background-color: #c3c3c3;
}
.items.range .img {
  background-color: #e0b07b;
}
.items.armaments .img {
  background-color: #a97171;
}
.items.relic .img {
  background-color: #af86a5;
}


.items .img {
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  image-rendering: optimizeSpeed;
  background-size: 50%;
  background-repeat: no-repeat;
}

.buffs .items .img {
  background-size: 80%;
  image-rendering: auto;
}

.buffs .items:hover .img,
.zoom .buffs .items .img {
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

.items .overlay {
  box-shadow: inset -36px 0 0 5px rgba(0,0,0,0.8), inset 36px 0 0 5px rgba(0,0,0,0.8);
} 

.items.faerie .img {
  background-image: url("../img/items/faerie.png");
}
.items.tango .img {
  background-image: url("../img/items/tango.png");
}
.items.vitality .img {
  background-image: url("../img/items/vitality.png");
}
.items.meka .img {
  background-image: url("../img/items/meka.png");
}
.items.heart .img {
  background-image: url("../img/items/heart.png");
}
.items.clarity .img {
  background-image: url("../img/items/clarity.png");
}
.items.soul .img {
  background-image: url("../img/items/soul.png");
}
.items.void .img {
  background-image: url("../img/items/void.png");
}
.items.refresher .img {
  background-image: url("../img/items/refresher.png");
}
.items.kaya .img {
  background-image: url("../img/items/kaya.png");
}
.items.quelling .img {
  background-image: url("../img/items/quelling.png");
}
.items.madness .img {
  background-image: url("../img/items/madness.png");
}
.items.broadsword .img {
  background-image: url("../img/items/broadsword.png");
}
.items.crystalys .img {
  background-image: url("../img/items/crystalys.png");
}
.items.echo .img {
  background-image: url("../img/items/echo.png");
}
.items.ring .img {
  background-image: url("../img/items/ring.png");
}
.items.buckler .img {
  background-image: url("../img/items/buckler.png");
}
.items.medallion .img {
  background-image: url("../img/items/medallion.png");
}
.items.halberd .img {
  background-image: url("../img/items/halberd.png");
}
.items.blademail .img {
  background-image: url("../img/items/blademail.png");
}
.items.cloak .img {
  background-image: url("../img/items/cloak.png");
}
.items.pipe .img {
  background-image: url("../img/items/pipe.png");
}
.items.linken .img {
  background-image: url("../img/items/linken.png");
}
.items.lotus .img {
  background-image: url("../img/items/lotus.png");
}
.items.bkb .img {
  background-image: url("../img/items/bkb.png");
}
.items.windlace .img {
  background-image: url("../img/items/windlace.png");
}
.items.boots .img {
  background-image: url("../img/items/boots.png");
}
.items.drums .img {
  background-image: url("../img/items/drums.png");
}
.items.phase .img {
  background-image: url("../img/items/phase.png");
}
.items.rod .img {
  background-image: url("../img/items/rod.png");
}
.items.tp .img {
  background-image: url("../img/items/tp.png");
}
.items.manta .img {
  background-image: url("../img/items/manta.png");
}
.items.blinkdagger .img {
  background-image: url("../img/items/blinkdagger.png");
}
.items.lens .img {
  background-image: url("../img/items/lens.png");
}
.items.dragon .img {
  background-image: url("../img/items/dragon.png");
}
.items.eul .img {
  background-image: url("../img/items/eul.png");
}
.items.glimmer .img {
  background-image: url("../img/items/glimmer.png");
}
.items.ethereal .img {
  background-image: url("../img/items/ethereal.png");
}
.items.sheepstick .img {
  background-image: url("../img/items/sheepstick.png");
}
.items.meteor .img {
  background-image: url("../img/items/meteor.png");
}
.items.vennon .img {
  background-image: url("../img/items/vennon.png");
}
.items.morbid .img {
  background-image: url("../img/items/morbid.png");
}
.items.diffusal .img {
  background-image: url("../img/items/diffusal.png");
}
.items.desolator .img {
  background-image: url("../img/items/desolator.png");
}
.items.basher .img {
  background-image: url("../img/items/basher.png");
}
.items.dust .img {
  background-image: url("../img/items/dust.png");
}
.items.talisman .img {
  background-image: url("../img/items/talisman.png");
}
.items.skadi .img {
  background-image: url("../img/items/skadi.png");
}
.items.shivas .img {
  background-image: url("../img/items/shivas.png");
}
.items.radiance .img {
  background-image: url("../img/items/radiance.png");
}


/*BUFFS*/
.table .buffs .buff.stun .img {
  background-image: url("../img/skills/stun.gif");
  background-size: 100%;
}

.table .buffs .buff..silence .img {
  background-image: url("../img/skills/silence.jpg");
}

.table .buffs .buff..magicimmune .img {
  background-image: url("../img/skills/magicimmune.jpg");
}

.table .buffs .buff..ethereal .img {
  background-image: url("../img/skills/ethereal.jpg");
}

.table .card.sheep fieldset .portrait .img {
  background-image: url("../img/items/sheep.jpg");
}

.table .map .card.sheep fieldset .portrait .img,
.table .fromMap.card.sheep fieldset .portrait .img {
  background-position: 45% 50%;
  background-size: cover;
}