
.vote p a {
  text-decoration: underline;
  font-size: 84%;
}

.vote {
  overflow: hidden;
}

.vote label {
  height: 150px;
  width: 150px;
  display: inline-block;
  cursor: pointer;
  margin: 12px;
  padding: 5px 5px 40px;
  border-radius: 6px;
}
.vote label .votes {
  margin-left: 10px;
  display: block;
}
.vote p {
  margin-top: 2px;
}

.vote label[disabled] {
  opacity: 0.8;
  cursor: default;
}

.vote label:not([disabled]):hover, .vote label.voted.vote-send {
  background: rgba(0, 0, 0, 0.2);
}
.vote label.voted {
  background: rgba(0, 0, 0, 0.1);
}

.vote label.voted p span {
  font-weight: bold;
}

.vote img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.vote .button.voteBt:not([disabled]) {
  background-color: #66bb8c;
  box-shadow: 0 4px 0 #4b8864;
}
