.map .projectile {
  border-radius: 50%;
  transition: all 0.4s linear;
  position: absolute;
  width: 40px;
  height: 40px;
  background: white;
  transform: translateZ(60px);
  top: 0;
  left: 0;
}

.projectile.units.ranged {
  background: #54a078;
  width: 20px;
  height: 30px;
  box-shadow: inset 0 -4px 0 4px #b9e8d0;
}
.projectile.units.ranged.enemy {
  background: #dc5b19;
  box-shadow: inset 0 -4px 0 4px #f7a55b;
}
.projectile.cm {
  background: white;
  width: 20px;
  height: 20px;
  box-shadow: inset -2px 1px 0 4px #6ad0d2;
}
.projectile.cat {
  width: 8px;
  height: 60px;
  margin-left: 10px;
}
.projectile.en {
  width: 8px;
  height: 80px;
  background: #8fe61b;
  box-shadow: 0 20px 0px 4px white;
}
.projectile.en.ult {
  width: 10px;
  height: 100px;
  box-shadow: 0 16px 0px 6px white, 0 -40px 0 0 white;
}
.projectile.ld {
  background-color: transparent;
  box-shadow: 0 0 0 4px #ccc, inset 0 0 0 8px tan;
  margin-left: 8px;
}
.projectile.kotl {
  width: 10px;
  height: 10px;
  box-shadow: 0 0 20px 12px white;
  margin-left: 8px;
}
.projectile.lina,
.projectile.towers.enemy {
  margin-left: 10px;
  background-color: transparent;
  width: 34px;
  height: 50px;
  background-image: url("../img/fx/lina/passive.png");
  animation: lina-passive-sprite 0.8s steps(8) infinite;
}
.projectile.wind {
  width: 8px;
  height: 60px;
  background: #f4deb1;
}
.projectile.venge {
  width: 70px;
  height: 60px;
  background: transparent;
  box-shadow: 0 15px 0 0 #ed7edc;
  margin-left: 8px;
}
.projectile.vengestun {
  width: 35px;
  height: 50px;
  background: white;
  box-shadow: 0 -5px 0 5px #ed7edc;
  margin-left: 8px;
}
.projectile.wk {
  background-color: transparent;
}
.projectile.wk:before {
  content: "";
  display: block;
  position: absolute;
  width: 34px;
  height: 50px;
  transform: scale(1.4);
  background-image: url("../img/fx/wk/stun.png");
  animation: lina-passive-sprite 0.8s steps(8) infinite;
}
.projectile.wk:after {
  content: "";
  display: block;
  position: absolute;
  width: 32px;
  height: 32px;
  left: 2px;
  top: 20px;
  background-image: url("../img/fx/wk/skull.png");
}
.projectile.catapult {
  background: #7d5d3f;
}
.projectile.towers.player {
  width: 24px;
  height: 40px;
  background: #6cffb7;
  box-shadow: inset 0 -6px 0 4px white;
}