.table .playerdecks,
.local .table.turn .playerdecks {
  position: absolute;
  height: 100px;
  width: 724px;
  bottom: -15px;
  perspective: 600px;
}

.local .table .playerdecks {
  bottom: 0;
}

.left-side .table .playerdecks {
  right: 0;
}

.table .playerdecks .deck {
  perspective: 600px;
  transform-style: preserve-3d;
}

.table .enemydecks {
  position: absolute;
  height: 214px;
  width: 100%;
  top: 22px;
  transform: translateZ(0);
  transition: top 0.4s;
  pointer-events: none;
}
.local .table.turn .enemydecks {
  top: 36px;
}
.local .table .enemydecks {
  top: 70px;
}

.table .enemydecks .deck {
  top: -115px;
  perspective: 600px;
  transform-style: preserve-3d;
}

.table .deck {
  height: 120px;
  position: absolute;
  border-radius: 4px;
}

.table .enemy .skills.hand {
  margin-right: 38px;
  left: 16px;
  width: 300px;
  display: flex;
  justify-content: flex-end;
}


.left-side .table .enemy .skills.hand {
  left: 600px;
  /* justify-content: flex-start; */
  /* margin-right: 0; */
}

.table .enemy .skills.sidehand {
  left: 390px;
  width: 260px;
  display: flex;
  padding-right: 60px;
}
.left-side .table .enemy .skills.sidehand {
  right: 388px;
  /* justify-content: flex-end; */
  left: auto;
}

.table .player .skills.sidehand {
  margin-right: 60px;
  left: 14px;
  width: 280px;
  display: flex;
  justify-content: flex-end;
}

.left-side .table .player .skills.sidehand {
  right: 2px;
  /* justify-content: flex-start; */
  /* margin-right: 0; */
  /* margin-left: 20px; */
  left: auto;
}
.table .player .skills.hand {
  left: 360px;
  width: 300px;
  display: flex;
  margin-right: 60px;
}

.left-side .table .player .skills.hand {
  left: 16px;
  /* justify-content: flex-end; */
  /* margin-right: 0; */
}
.table .selectedarea {
  position: absolute;
  top: 27px;
  right: 6px;
  border-radius: 10px;
  perspective: 600px;
  z-index: 5;
  transform: translateZ(0);
}

.left-side .table .selectedarea {
  right: auto;
  left: 5px;
}

.table .selectedarea.enemymoving {
  opacity: 0.5;
  pointer-events: none;
}

.table .buttonbox {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 250px;
}

.left-side .table .buttonbox {
  right:auto;
  left: 2px;
}

.table .camera {
  position: absolute;
  top: 45px;
  left: 0;
  width: 718px;
  height: 450px;
  perspective: 800px;
  perspective-origin: 57% 50%;
  overflow: hidden;
  transform: translateZ(0);
  background-image: url("../img/bkg/map.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  background-color: rgba(0,0,0,0.5);
}

.left-side .table .camera {
  left: auto;
  right: 0;
}


.table .camera.night {
  background-image: url("../img/bkg/map-night.jpg");
}

.table .camera:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: inset 0 6px 18px rgba(0,0,0,0.6);
  pointer-events: none;
}

/*RESULTS*/
.table .resultsbox {
  width: 800px;
}

.table .result {
  text-transform: uppercase;
  font-size: 25px;
}

.table .results {
  display: inline-block;
  width: 320px;
}

.table .results.enemy {
  color: tomato;
}

.table .results p {
  box-shadow: inset 0 0 0 50px rgba(0,0,0,0.7);
  border: 0;
  padding: 5px;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  margin: 6px;
}

.table .results span {
  line-height: 30px;
  margin-left: 70px;
}

.table .results .portrait {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 60px;
  height: 30px;
}

.table .results .img {
  width: 60px;
  height: 30px;
  background-size: cover;
  background-position: 50%;
}

.table .resultsbox .close {
  width: 60px;
  display: block;
  margin: 20px auto 0;
  position: static;
}

.table .turntitle {
  z-index: 30;
  position: absolute;
  width: 970px;
  top: 220px;
  left: 0;
  font-weight: bold;
  color: white;
  font-size: 80px;
  text-align: center;
  transition: all 0.3s;
  transform: translateZ(0);
  cursor: default;
  background: rgba(0,0,0,0.4);
  line-height: 100px;
  opacity: 0;
  pointer-events: none;
}

.table .turntitle.show {
  opacity: 1;
}

.table .tree-deck {
  display: none;
}