.tutorial.axe {
  z-index: 18;
  width: 350px;
  height: 256px;
  position: absolute;
  right: -25px;
  bottom: -450px;
  transition: all 1s;
  pointer-events: none;
  transform: translateZ(0);
}

.tutorial.axe.up {
  bottom: 0px;
}

.tutorial.axe .img {
  background-image: url("../img/tutorial/axe.png");
  background-size: cover;
  width: 100%;
  height: 100%;
}

.tutorial.axe .baloon {
  padding: 28px;
  background: #fff;
  border: 4px solid #777;
  border-width: 4px 8px;
  width: 175px;
  border-radius: 50%;
  position: absolute;
  bottom: 240px;
  right: 200px;
}

.tutorial.axe .baloon:before, .tutorial.axe .baloon:after {
  content: "";
  position: absolute;
  display: block;
  bottom: -23px;
  height: 20px;
}

.tutorial.axe .baloon:before {
  width: 40px;
  border-style: solid;
  border-width: 0 0 4px 8px;
  border-color: #777;
  background: transparent;
  border-radius: 0 0 0 80px;
  box-shadow: inset 20px 0 0 #fff;
  left: calc(50% - 18px);
}

.tutorial.axe .baloon:after {
  width: 15px;
  border-style: solid;
  border-width: 0 0 4px 8px;
  border-color: #777;
  background: transparent;
  border-radius: 0 0 0 50px;
  display: block;
  left: calc(50% + 8px);
}

.tutorial.axe .txt {
  transform: rotate(2deg);
  color: #444;
  text-align: center;
}

.tutorial .battle {
  font-size: 175%;
}

.blink, .table .player .blink {
  box-shadow: 0 0 0 8px white;
  animation: blink 1s infinite;
}

@keyframes blink {
  0%, 100% {
    /*filter: brightness(1);*/
    box-shadow: 0 0 0 6px rgba(0,0,0,0);
  }

  50% {
    /*filter: brightness(1.3);*/
    box-shadow: 0 0 0 6px white;
  }
}

.table .card.blink {
  box-shadow: 0 0 0 10px white;
  animation: cardblink 1s infinite;
}

@keyframes cardblink {
  0%, 100% {
    box-shadow: 0 0 0 10px rgba(0,0,0,0);
    /*filter: brightness(1)*/
  }

  50% {
    box-shadow: 0 0 0 10px white;
    /*filter: brightness(1.4)*/
  }
}

.map .blink {
  box-shadow: 0 0 0 16px white;
  animation: mapblink 1s infinite;
}

@keyframes mapblink {
  0%, 100% {
    box-shadow: 0 0 0 16px rgba(0,0,0,0);
  }

  50% {
    box-shadow: 0 0 0 16px white;
  }
}

.skills.blink {
  box-shadow: 0 0 0 10px white;
  animation: skillsblink 1s infinite;
}

@keyframes skillsblink {
  0%, 100% {
    box-shadow: 0 0 0 10px rgba(0,0,0,0);
  }

  50% {
    box-shadow: 0 0 0 10px white;
  }
}

.tutorial.axe.left {
  right: auto;
  left: -140px;
  transform: scaleX(-1);
}

.tutorial.axe.left .txt {
  transform: scaleX(-1);
}

.tutorial.axe.left .baloon {
  right: 160px;
  bottom: 260px;
}

.choose .tutorial.axe {
  width: 502px;
  right: -15px;
}

.choose .tutorial.axe.up {
  bottom: -45px;
}

.choose .tutorial.axe .img {
  background-repeat: no-repeat;
  background-position: 170px 30px;
}

.choose .tutorial.axe .baloon {
  transform: scaleX(-1);
  right: -12px;
}

.choose .tutorial.axe .txt {
  transform: scaleX(-1);
}
