
.units {
  background: #70bf70;
}

.units.cent .img {
  background-image: url("../img/units/cent.jpg");
}

.units.golem .img {
  background-image: url("../img/units/golem.jpg");
}

.units.tomato .img {
  background-image: url("../img/units/tomato.jpg");
}

.units.satyr .img {
  background-image: url("../img/units/satyr.jpg");
}