.player.skills[class*="summon"], .player.skills[class*="summon"] .portrait {
  background-color: #249c88;
}
.enemy.skills[class*="summon"], .enemy.skills[class*="summon"] .portrait {
  background: #a74a6a;
}
.units.forest-cent .img {
  background-image: url("../img/units/cent.jpg");
}

.units.forest-golem .img {
  background-image: url("../img/units/golem.jpg");
}

.units.forest-tomato .img {
  background-image: url("../img/units/tomato.jpg");
}

.units.forest-satyr .img {
  background-image: url("../img/units/satyr.jpg");
}